eagle projects/node-red/flows.json
[{"id":"a3abfc61.90e76","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"337ca1f2.53e7ce","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"7f48f61c.c58808","type":"tab","label":"Flow 4","disabled":true,"info":""},{"id":"5ca7570.9a083a8","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"97d245a4.6008e8","type":"tab","label":"Control","disabled":true,"info":""},{"id":"a3e951d6.3667d","type":"tab","label":"Monitoring","disabled":true,"info":""},{"id":"c24f3490.03d188","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"491ab6ba.692d08","type":"mqtt-broker","z":"","name":"ElipseServer","broker":"198.41.30.241:1883","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c2a7b67a.33bb08","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"8c5996ec.d1b888","type":"ui_group","z":"","name":"Fan","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"badd742b.5e3b88","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dfaea0ea.39e9b","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e017739b.22a8f","type":"ui_tab","z":"","name":"Current values of parameters","icon":"dashboard","order":"1","disabled":false,"hidden":false},{"id":"5d0232c0.4a7c4c","type":"ui_tab","z":"","name":"Control","icon":"dashboard","order":"1","disabled":false,"hidden":false},{"id":"a7d4f631.5662e8","type":"ui_group","z":"","name":"Temperature","tab":"5d0232c0.4a7c4c","disp":true,"width":"6","collapse":false},{"id":"4d789401.3c9adc","type":"ui_group","z":"","name":"Soil moisture","tab":"5d0232c0.4a7c4c","disp":true,"width":"6","collapse":false},{"id":"61399976.9aafb8","type":"ui_group","z":"","name":"Humidity","tab":"5d0232c0.4a7c4c","disp":true,"width":"6","collapse":false},{"id":"7af877c3.809b88","type":"ui_group","z":"","name":"Light intensity","tab":"5d0232c0.4a7c4c","disp":true,"width":"6","collapse":false},{"id":"948ebaf0.b3d6c8","type":"ui_group","z":"","name":"Exhaust fan","tab":"5d0232c0.4a7c4c","disp":true,"width":"6","collapse":false},{"id":"a7bb8a1f.278018","type":"ui_spacer","name":"spacer","group":"83649ea8.dcf758","order":3,"width":1,"height":1},{"id":"5a08e689.f50d88","type":"ui_group","z":"","name":"Temperature","tab":"e017739b.22a8f","disp":true,"width":"6","collapse":false},{"id":"704be27e.64ba6c","type":"ui_group","z":"","name":"Humidity","tab":"e017739b.22a8f","disp":true,"width":"6","collapse":false},{"id":"57ebb571.bba4cc","type":"ui_group","z":"","name":"Soil moisture","tab":"e017739b.22a8f","disp":true,"width":"6","collapse":false},{"id":"f6687c0f.038fc","type":"ui_group","z":"","name":"Light intensity","tab":"e017739b.22a8f","disp":true,"width":"6","collapse":false},{"id":"e8c6a2a3.03aed","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4635d69c.290f28","type":"ui_group","z":"","name":"light_2","tab":"c2a7b67a.33bb08","disp":true,"width":"6","collapse":false},{"id":"c8a25a53.138138","type":"ui_group","z":"","name":"light_1","tab":"c2a7b67a.33bb08","disp":true,"width":"6","collapse":false},{"id":"8adc1216.3731d","type":"ui_group","z":"","name":"fan_2","tab":"c2a7b67a.33bb08","disp":true,"width":"6","collapse":false},{"id":"f2c8cbe3.e624b8","type":"ui_group","z":"","name":"Control","tab":"","disp":true,"width":"6","collapse":false},{"id":"2ac34885.a0fae8","type":"ui_group","z":"","name":"Control","tab":"","disp":true,"width":"6","collapse":false},{"id":"c23c2ad2.001d08","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"79946645.11d928","type":"ui_group","z":"","name":"fan_1","tab":"c2a7b67a.33bb08","disp":true,"width":"6","collapse":false},{"id":"7a7d728d.5f86ec","type":"ui_group","z":"","name":"display","tab":"c2a7b67a.33bb08","disp":true,"width":"6","collapse":false},{"id":"b979d673.c5e258","type":"ui_base","z":0,"theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#c0c0c0","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Times New Roman,Times,serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#4B7930","edited":true},"page-titlebar-backgroundColor":{"value":"#4B7930","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#6db046","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#4b7930","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Times New Roman,Times,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":40,"sy":40,"gx":6,"gy":6,"cx":3,"cy":3,"px":2,"py":2}}},{"id":"426a8b4f.58c124","type":"function","z":"a3abfc61.90e76","name":"temp","func":"return {payload:msg.payload.d.temp};","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["94f8ff81.98ef2"]]},{"id":"94f8ff81.98ef2","type":"switch","z":"a3abfc61.90e76","name":"temp thresh","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"40","vt":"str"},{"t":"gt","v":"40","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":400,"wires":[["cf5e8dae.aaf41"],["9b43055b.c7f618"]]},{"id":"73bbf33f.705f0c","type":"debug","z":"a3abfc61.90e76","name":"cpu status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":400,"wires":[]},{"id":"e052700b.0a11d","type":"debug","z":"a3abfc61.90e76","name":"device data","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":310,"y":480,"wires":[]},{"id":"cf5e8dae.aaf41","type":"template","z":"a3abfc61.90e76","name":"safe","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) within safe limits","x":610,"y":380,"wires":[["73bbf33f.705f0c"]]},{"id":"9b43055b.c7f618","type":"template","z":"a3abfc61.90e76","name":"danger","field":"payload","fieldType":"msg","syntax":"mustache","template":"Temperature ({{payload}}) critical","x":620,"y":420,"wires":[["73bbf33f.705f0c"]]},{"id":"c7e30994.0b4218","type":"inject","z":"a3abfc61.90e76","name":"Send Data","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":100,"y":120,"wires":[[]]},{"id":"c05df0af.7de54","type":"function","z":"a3abfc61.90e76","name":"Device payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":320,"y":120,"wires":[["287b9e98.eec572"]]},{"id":"287b9e98.eec572","type":"debug","z":"a3abfc61.90e76","name":"Debug output payload","active":false,"tosidebar":true,"console":false,"complete":"payload","x":560,"y":180,"wires":[]},{"id":"cdea1752.092a78","type":"comment","z":"a3abfc61.90e76","name":"Device Simulator","info":"Sends simulated device sensor data to IBM Watson IoT Plaform.\n\nCan be configured to send on click or on an automatic interval.\n\n\n#Prerequisite\nOutput node device type and device ID need to match a device that it registered in a running IBM Watson IoT Platform service.\n\n# Watson IoT Platform docs\n[Connecting devices](https://www.bluemix.net/docs/services/IoT/iotplatform_task.html)","x":100,"y":40,"wires":[]},{"id":"8e4401f4.7ccea","type":"comment","z":"a3abfc61.90e76","name":"1. Configure target","info":"","x":550,"y":80,"wires":[]},{"id":"97193bd2.429928","type":"comment","z":"a3abfc61.90e76","name":"2. Click to send data","info":"To automatically send data:\n1. Change *Repeat* to interval.\n2. Click Deploy button.\n","x":110,"y":160,"wires":[]},{"id":"9fb17f75.378b","type":"comment","z":"a3abfc61.90e76","name":"Temperature Monitor","info":"","x":110,"y":300,"wires":[]},{"id":"737d5338.7f08fc","type":"comment","z":"a3abfc61.90e76","name":"Configure source","info":"","x":100,"y":360,"wires":[]},{"id":"ea72b9d5.b28768","type":"comment","z":"a3abfc61.90e76","name":"node 3","info":"","x":390,"y":1300,"wires":[]},{"id":"a4937ce1.28f1b","type":"debug","z":"a3abfc61.90e76","name":"output1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":1380,"wires":[]},{"id":"4429b442.ec69ec","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"","payloadType":"num","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":70,"y":1420,"wires":[["c46508.faa35af8","eb72dc8b.05fab"]]},{"id":"5fbae55c.010a3c","type":"debug","z":"a3abfc61.90e76","name":"output2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":720,"y":1500,"wires":[]},{"id":"eb72dc8b.05fab","type":"switch","z":"a3abfc61.90e76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"str"},{"t":"gte","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1420,"wires":[["5c6eaba6.ce4e44"],["590237ad.50b8f8"]]},{"id":"5c6eaba6.ce4e44","type":"template","z":"a3abfc61.90e76","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"number {{payload}} is low number","output":"str","x":560,"y":1380,"wires":[["a4937ce1.28f1b"]]},{"id":"590237ad.50b8f8","type":"template","z":"a3abfc61.90e76","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"number {{payload}} is high number","output":"str","x":560,"y":1500,"wires":[["5fbae55c.010a3c"]]},{"id":"a409b751.1273d8","type":"template","z":"a3abfc61.90e76","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Drinks available on : {{payload.day}}</h1>\n\n<ul>\n{{#payload.drinks}}\n<li>{{drink}}</li>    \n{{/payload.drinks}}\n</ul>\n\n<h3>Specials:</h3> \n<hr>\n<ul>\n{{^payload.specials}}\nNone today, sorry      \n{{/payload.specials}}\n\n{{#payload.specials}}\n<li>{{drink}}</li>\n{{/payload.specials}}\n</ul>","x":450,"y":1700,"wires":[["ca1b876b.b1b928"]]},{"id":"bd62f329.d27e","type":"function","z":"a3abfc61.90e76","name":"Drinks","func":"msg.payload = \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1660,"wires":[["a409b751.1273d8"]]},{"id":"971c6708.e0ade8","type":"function","z":"a3abfc61.90e76","name":"Specials","func":"msg.payload = \n         {'day':'Monday',\n          'drinks':[{'drink': 'coffee'}, \n                    {'drink': 'tea'}, \n                    {'drink': 'orange juice'}],\n          'specials':[{'drink': 'hot chocolate'}, \n                      {'drink': 'espresso'}]\n         };\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":1740,"wires":[["a409b751.1273d8"]]},{"id":"584d8aee.c494e4","type":"http in","z":"a3abfc61.90e76","name":"/menu","url":"/menu","method":"get","upload":false,"swaggerDoc":"","x":90,"y":1660,"wires":[["bd62f329.d27e"]]},{"id":"75c06a9e.a2d184","type":"http response","z":"a3abfc61.90e76","name":"","statusCode":"","headers":{},"x":810,"y":1700,"wires":[]},{"id":"2d9b4a28.86b2e6","type":"http in","z":"a3abfc61.90e76","name":"/specials","url":"/specials","method":"get","upload":false,"swaggerDoc":"","x":80,"y":1740,"wires":[["971c6708.e0ade8"]]},{"id":"ca1b876b.b1b928","type":"function","z":"a3abfc61.90e76","name":"setHTTPheader","func":"// If sending JSON data the content type is:\n//msg.headers={\"Content-Type\":\"application/json\"}\n\n// For HTML use the content type line below:\nmsg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":1700,"wires":[["75c06a9e.a2d184"]]},{"id":"c92b0dd8.d7001","type":"comment","z":"a3abfc61.90e76","name":"node 4","info":"","x":370,"y":1580,"wires":[]},{"id":"95fb6ce8.ced41","type":"comment","z":"a3abfc61.90e76","name":"node 5","info":"","x":430,"y":1840,"wires":[]},{"id":"15932d79.4c31b3","type":"http in","z":"a3abfc61.90e76","name":"","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":60,"y":2060,"wires":[["c9200c59.1deb1"]]},{"id":"639e083c.389988","type":"function","z":"a3abfc61.90e76","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":2240,"wires":[[]]},{"id":"52fbe001.d95e7","type":"http in","z":"a3abfc61.90e76","name":"","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":70,"y":2240,"wires":[[]]},{"id":"add27183.f8afa","type":"http response","z":"a3abfc61.90e76","name":"","statusCode":"","headers":{},"x":710,"y":2240,"wires":[]},{"id":"1f302f7b.1496c1","type":"template","z":"a3abfc61.90e76","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":460,"y":2240,"wires":[[]]},{"id":"8e20d447.e12e98","type":"function","z":"a3abfc61.90e76","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":2240,"wires":[[]]},{"id":"e66e04f0.233288","type":"function","z":"a3abfc61.90e76","name":"","func":"msg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":2180,"wires":[["99a1640c.c8d1f8"]]},{"id":"91e9de12.062e","type":"http in","z":"a3abfc61.90e76","name":"","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":70,"y":2180,"wires":[["446f6e8a.ad968"]]},{"id":"dd4fc394.1419f","type":"template","z":"a3abfc61.90e76","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1> Random no is: {{payload}} </h1>","output":"str","x":420,"y":2180,"wires":[["e66e04f0.233288"]]},{"id":"99a1640c.c8d1f8","type":"http response","z":"a3abfc61.90e76","name":"","statusCode":"","headers":{},"x":710,"y":2180,"wires":[]},{"id":"78242a8d.3b0a84","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":1980,"wires":[]},{"id":"67c638d8.41a928","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":180,"y":1940,"wires":[["fd22ce0a.19432","78242a8d.3b0a84"]]},{"id":"fd22ce0a.19432","type":"function","z":"a3abfc61.90e76","name":"Format timestamp","func":"// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1900,"wires":[[]]},{"id":"61a83256.467cfc","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":false,"x":110,"y":2320,"wires":[["e99f0101.20a9"]]},{"id":"e99f0101.20a9","type":"http request","z":"a3abfc61.90e76","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":280,"y":2320,"wires":[["c9da408a.2a5fe","465f950.830946c"]]},{"id":"c9da408a.2a5fe","type":"csv","z":"a3abfc61.90e76","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","skip":0,"x":450,"y":2320,"wires":[["a579c99c.d38898","b0e3efe3.48261"]]},{"id":"a579c99c.d38898","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":610,"y":2320,"wires":[]},{"id":"b0e3efe3.48261","type":"switch","z":"a3abfc61.90e76","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":2380,"wires":[["c16293cb.09f5e"]]},{"id":"c16293cb.09f5e","type":"change","z":"a3abfc61.90e76","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":2440,"wires":[["2b6cd2c3.15cbae"]]},{"id":"2b6cd2c3.15cbae","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"complete":false,"x":730,"y":2380,"wires":[]},{"id":"465f950.830946c","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":330,"y":2420,"wires":[]},{"id":"c9200c59.1deb1","type":"moment","z":"a3abfc61.90e76","name":"","topic":"","input":"","inputType":"msg","inTz":"Etc/UTC","adjAmount":"5.49","adjType":"hours","adjDir":"add","format":"","locale":"en_IN","output":"payload","outputType":"msg","outTz":"Etc/UTC","x":240,"y":2060,"wires":[["6276f6b5.ff7b58"]]},{"id":"52617b22.213cb4","type":"humanizer","z":"a3abfc61.90e76","name":"","input":"","x":80,"y":2020,"wires":[[]]},{"id":"2bd6f12.f36f60e","type":"http response","z":"a3abfc61.90e76","name":"","statusCode":"","headers":{},"x":910,"y":2060,"wires":[]},{"id":"a54a753.b689588","type":"template","z":"a3abfc61.90e76","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1> Date is: {{payload}} </h1>;","output":"str","x":600,"y":2060,"wires":[["4e3b4c17.bd2d24"]]},{"id":"6276f6b5.ff7b58","type":"function","z":"a3abfc61.90e76","name":"","func":"// Create a Date object from the payload\nvar now = moment();\n// Change the payload to be a formatted Date string\n// Return the message so it can be sent on\nreturn now;","outputs":1,"noerr":0,"x":430,"y":2060,"wires":[["a54a753.b689588","1bf46e69.584822"]]},{"id":"4e3b4c17.bd2d24","type":"function","z":"a3abfc61.90e76","name":"","func":"msg.headers={\"Content-Type\":\"text/html\"}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2060,"wires":[["2bd6f12.f36f60e"]]},{"id":"1bf46e69.584822","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":2120,"wires":[]},{"id":"5da586e6.eec8b8","type":"comment","z":"a3abfc61.90e76","name":"node 6","info":"","x":310,"y":2460,"wires":[]},{"id":"a46508ad.adf8c8","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"[{\"FirstName\":\"Fred\",\"Surname\":\"Smith\",\"Age\":28,\"Address\":{\"Street\":\"Hursley Park\",\"City\":\"Winchester\",\"Postcode\":\"SO21 2JN\"},\"Phone\":[{\"type\":\"home\",\"number\":\"+44 203 5441234\"},{\"type\":\"office\",\"number\":\"00 44 1962 001234\"},{\"type\":\"mobile\",\"number\":\"0044 7777-001234\"}]},{\"FirstName\":\"Freda\",\"Surname\":\"Smith\",\"Age\":25,\"Address\":{\"Street\":\"Hursley Park\",\"City\":\"Winchester\",\"Postcode\":\"SO21 2JN\"},\"Phone\":[{\"type\":\"home\",\"number\":\"+44 203 9871234\"},{\"type\":\"office\",\"number\":\"00 44 1962 998765\"},{\"type\":\"mobile\",\"number\":\"0044 7777-098765\"}]}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":2520,"wires":[["f25f46d9.6f10d8"]]},{"id":"ab761bc3.0607f8","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":2700,"wires":[]},{"id":"f25f46d9.6f10d8","type":"change","z":"a3abfc61.90e76","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\tpayload{\t    FirstName & ' ' & Surname : Phone{ type :\t    $replace(number, /^(\\+|00)\\s*(\\d*)[\\s-]+(\\d*)[\\s-]+(\\d*)$/,'+$2 $3-$4')}\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":2620,"wires":[["ab761bc3.0607f8"]]},{"id":"551f2a1f.a6d514","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":2560,"wires":[]},{"id":"7996302f.efa54","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030,"y":2620,"wires":[]},{"id":"849477bf.648648","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":2560,"wires":[["607e7354.a7f0cc"]]},{"id":"607e7354.a7f0cc","type":"http request","z":"a3abfc61.90e76","name":"","method":"GET","ret":"obj","url":"https://www.npmjs.com/package/downloads","tls":"","x":520,"y":2580,"wires":[["ddd90fa6.db1ed"]]},{"id":"88487739.2c5538","type":"switch","z":"a3abfc61.90e76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":2600,"wires":[["5a8e0ada.51e404"],["305a4bda.e55314"]]},{"id":"305a4bda.e55314","type":"change","z":"a3abfc61.90e76","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2620,"wires":[["7996302f.efa54"]]},{"id":"5a8e0ada.51e404","type":"change","z":"a3abfc61.90e76","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2580,"wires":[["551f2a1f.a6d514"]]},{"id":"ddd90fa6.db1ed","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":510,"y":2700,"wires":[]},{"id":"f2809709.618758","type":"comment","z":"a3abfc61.90e76","name":"node 8","info":"","x":390,"y":900,"wires":[]},{"id":"c997cd7d.3b9e3","type":"ui_toast","z":"a3abfc61.90e76","position":"top right","displayTime":"5","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":690,"y":3120,"wires":[]},{"id":"2fa829c.1f3a3d6","type":"link in","z":"a3abfc61.90e76","name":"","links":["8c748a41.5d9048"],"x":475,"y":3060,"wires":[["331dec98.6cbec4"]]},{"id":"8c748a41.5d9048","type":"link out","z":"a3abfc61.90e76","name":"","links":["2fa829c.1f3a3d6"],"x":395,"y":3060,"wires":[]},{"id":"331dec98.6cbec4","type":"switch","z":"a3abfc61.90e76","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"80","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":3060,"wires":[["c849fd32.cc2ce"]]},{"id":"c849fd32.cc2ce","type":"template","z":"a3abfc61.90e76","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":710,"y":3060,"wires":[["c997cd7d.3b9e3"]]},{"id":"bcfd555e.d3f668","type":"http request","z":"a3abfc61.90e76","name":"","method":"GET","ret":"txt","url":"https://gateway-lon.watsonplatform.net/language-translator/api/v2/translate? text=where%20is%20the%20cinema%3F&source=en&target=es","tls":"","x":310,"y":3300,"wires":[["22408676.8ec35a"]]},{"id":"9fce0c58.99715","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":3280,"wires":[["bcfd555e.d3f668"]]},{"id":"22408676.8ec35a","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":550,"y":3340,"wires":[]},{"id":"d37f6638.b765f8","type":"http in","z":"a3abfc61.90e76","name":"","url":"/web","method":"get","upload":false,"swaggerDoc":"","x":100,"y":3460,"wires":[["384781cf.85bbbe","d1cf1f81.28182"]]},{"id":"23925465.bd597c","type":"http response","z":"a3abfc61.90e76","name":"","statusCode":"","headers":{},"x":710,"y":3460,"wires":[]},{"id":"384781cf.85bbbe","type":"change","z":"a3abfc61.90e76","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"text/html\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":3460,"wires":[["885e5c66.4c76f"]]},{"id":"d1cf1f81.28182","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":3380,"wires":[]},{"id":"885e5c66.4c76f","type":"template","z":"a3abfc61.90e76","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n <head>\n <meta charset=\"utf-8\">\n <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n <meta name=\"description\" content=\"\">\n <meta name=\"author\" content=\"\">\n <link rel=\"icon\" href=\"/favicon.ico\">\n <title>Jumbotron Template for Bootstrap</title>\n <!-- Bootstrap core CSS -->\n <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css\"\nintegrity=\"sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb\" \t \t\ncrossorigin=\"anonymous\">\n </head>\n <body>\n <nav class=\"navbar navbar-expand-md navbar-dark fixed-top bg-dark\">\n <a class=\"navbar-brand\" href=\"#\">Navbar</a>\n <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\"\ndata-target=\"#navbarsExampleDefault\" aria-controls=\"navbarsExampleDefault\"\naria-expanded=\"false\" aria-label=\"Toggle navigation\">\n <span class=\"navbar-toggler-icon\"></span>\n </button>\n <div class=\"collapse navbar-collapse\" id=\"navbarsExampleDefault\">\n <ul class=\"navbar-nav mr-auto\">\n <li class=\"nav-item active\">\n <a class=\"nav-link\" href=\"#\">Home <span class=\"sr-only\">(current)</span></a>\n </li>\n <li class=\"nav-item\">\n <a class=\"nav-link\" href=\"#\">Link</a>\n </li>\n <li class=\"nav-item\">\n <a class=\"nav-link disabled\" href=\"#\">Disabled</a>\n </li>\n <li class=\"nav-item dropdown\">\n <a class=\"nav-link dropdown-toggle\" href=\"http://example.com\" id=\"dropdown01\"\ndata-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">Dropdown</a>\n <div class=\"dropdown-menu\" aria-labelledby=\"dropdown01\">\n <a class=\"dropdown-item\" href=\"#\">Action</a>\n <a class=\"dropdown-item\" href=\"#\">Another action</a>\n <a class=\"dropdown-item\" href=\"#\">Something else here</a>\n </div>\n </li>\n </ul>\n <form class=\"form-inline my-2 my-lg-0\">\n <input class=\"form-control mr-sm-2\" type=\"text\" placeholder=\"Search\" aria-label=\"Search\">\n <button class=\"btn btn-outline-success my-2 my-sm-0\" type=\"submit\">Search</button>\n </form>\n </div>\n </nav>\n <main role=\"main\">\n <!-- Main jumbotron for a primary marketing message or call to action -->\n <div class=\"jumbotron\">\n <div class=\"container\">\n <h1 class=\"display-3\">Hello, world!</h1>\n <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three\nsupporting pieces of content. Use it as a starting point to create something more unique.</p>\n <p><a class=\"btn btn-primary btn-lg\" href=\"#\" role=\"button\">Learn more &raquo;</a></p>\n </div>\n </div>\n <div class=\"container\">\n <!-- Example row of columns -->\n <div class=\"row\">\n <div class=\"col-md-4\">\n <h2>Heading</h2>\n <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum \nnibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>\n <p><a class=\"btn btn-secondary\" href=\"#\" role=\"button\">View details &raquo;</a></p>\n </div>\n <div class=\"col-md-4\">\n <h2>Heading</h2>\n <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum\nnibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>\n <p><a class=\"btn btn-secondary\" href=\"#\" role=\"button\">View details &raquo;</a></p>\n </div>\n <div class=\"col-md-4\">\n <h2>Heading</h2>\n <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod\nsemper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>\n <p><a class=\"btn btn-secondary\" href=\"#\" role=\"button\">View details &raquo;</a></p>\n </div>\n </div>\n <hr>\n </div> <!-- /container -->\n </main>\n <footer class=\"container\">\n <p>&copy; Company 2017</p>\n </footer>\n <!-- Bootstrap core JavaScript\n ================================================== -->\n <!-- Placed at the end of the document so the pages load faster -->\n <script src=\"https://code.jquery.com/jquery-3.2.1.slim.min.js\"\nintegrity=“sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN\"\ncrossorigin=\"anonymous\"></script>\n <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js\"\nintegrity=“sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh\"\ncrossorigin=\"anonymous\"></script>\n <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js\"\nintegrity=“sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ\"\ncrossorigin=\"anonymous\"></script>\n </body>\n</html>","output":"str","x":500,"y":3460,"wires":[["23925465.bd597c"]]},{"id":"8762a8a5.696578","type":"file in","z":"a3abfc61.90e76","name":"","filename":"public/images/title-wave.png","format":"","chunk":false,"sendError":false,"x":330,"y":3760,"wires":[["d1e4921f.64499"]]},{"id":"3619337e.c2df1c","type":"switch","z":"a3abfc61.90e76","name":"","property":"headers","propertyType":"msg","rules":[{"t":"eq","v":"{\t    \"Content-Type\" : \"image/png\"\t}","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":180,"y":3680,"wires":[["8762a8a5.696578"]]},{"id":"d4e07e92.47896","type":"http in","z":"a3abfc61.90e76","name":"","url":"/image","method":"get","upload":false,"swaggerDoc":"","x":90,"y":3640,"wires":[["3619337e.c2df1c"]]},{"id":"d1e4921f.64499","type":"http response","z":"a3abfc61.90e76","name":"","statusCode":"","headers":{},"x":560,"y":3780,"wires":[]},{"id":"872541b5.da14e","type":"comment","z":"337ca1f2.53e7ce","name":"node 7","info":"","x":310,"y":100,"wires":[]},{"id":"367a7105.ed5a6e","type":"template","z":"337ca1f2.53e7ce","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":180,"y":60,"wires":[[]]},{"id":"de2667b1.f8c1a8","type":"inject","z":"337ca1f2.53e7ce","name":"solution4","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acmeA.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acmeB.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acmeC.inc\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":940,"wires":[["c3516e89.af3bc"]]},{"id":"98cbc3dc.617b","type":"inject","z":"337ca1f2.53e7ce","name":"test1","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":180,"wires":[["1eea53c3.8808ac"]]},{"id":"1eea53c3.8808ac","type":"function","z":"337ca1f2.53e7ce","name":"function 1","func":"msg.payload = msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["c3bbbf98.af25c"]]},{"id":"c3bbbf98.af25c","type":"debug","z":"337ca1f2.53e7ce","name":"","active":false,"console":"false","complete":"false","x":750,"y":180,"wires":[]},{"id":"454792c3.79f4ec","type":"inject","z":"337ca1f2.53e7ce","name":"test2","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":280,"wires":[["9d5f7bd3.b80488"]]},{"id":"9d5f7bd3.b80488","type":"function","z":"337ca1f2.53e7ce","name":"function 2","func":" var output = msg.payload.name + \" is \" + msg.payload.age + \" years old\";\n msg.payload = output;\n return msg;","outputs":1,"noerr":0,"x":320,"y":280,"wires":[["e64d8518.df62e8"]]},{"id":"e64d8518.df62e8","type":"debug","z":"337ca1f2.53e7ce","name":"","active":false,"console":"false","complete":"false","x":750,"y":280,"wires":[]},{"id":"ef802f45.afac5","type":"inject","z":"337ca1f2.53e7ce","name":"test3","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acme.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acme.inc\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"x":110,"y":380,"wires":[["5c7220da.e2222"]]},{"id":"5c7220da.e2222","type":"function","z":"337ca1f2.53e7ce","name":"function 3","func":"output = {};\nfor (var i of msg.payload) {\n    output[i.name] = \"Age is \" + i.age + \" and mail address is \" + i.email;\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":380,"wires":[["61ba8fd8.11c5f"]]},{"id":"61ba8fd8.11c5f","type":"debug","z":"337ca1f2.53e7ce","name":"","active":false,"console":"false","complete":"false","x":750,"y":380,"wires":[]},{"id":"8119550a.1ba548","type":"inject","z":"337ca1f2.53e7ce","name":"test4","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acmeA.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acmeB.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acmeC.inc\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":480,"wires":[["cb87cea8.9d84b"]]},{"id":"cb87cea8.9d84b","type":"function","z":"337ca1f2.53e7ce","name":"function 4","func":"output = \"\";\nfirst = true;\nfor (var i of msg.payload) {\n    if (!first) {\n        output += ', ';\n    } else {\n        first = false;\n    }\n    output += i.name + \" works for \" + i.email.split('@')[1];\n}\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":480,"wires":[["b0a1740c.41ca38"]]},{"id":"b0a1740c.41ca38","type":"debug","z":"337ca1f2.53e7ce","name":"","active":false,"console":"false","complete":"false","x":750,"y":480,"wires":[]},{"id":"e376d404.4554b8","type":"inject","z":"337ca1f2.53e7ce","name":"solution1","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":640,"wires":[["2d37679f.9dd828"]]},{"id":"47f61a28.186c54","type":"debug","z":"337ca1f2.53e7ce","name":"output1","active":false,"console":"false","complete":"payload","x":740,"y":640,"wires":[]},{"id":"c7636c59.c123a","type":"inject","z":"337ca1f2.53e7ce","name":"solution2","topic":"","payload":"{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":100,"y":740,"wires":[["d659e678.405d38"]]},{"id":"4fff65a9.83133c","type":"debug","z":"337ca1f2.53e7ce","name":"output2","active":false,"console":"false","complete":"payload","x":740,"y":740,"wires":[]},{"id":"e4caa74c.d77e68","type":"inject","z":"337ca1f2.53e7ce","name":"solution3","topic":"","payload":"[{\"name\":\"fred\",\"age\":25,\"email\":\"fred@acme.inc\"},{\"name\":\"jack\",\"age\":35,\"email\":\"jack@acme.inc\"},{\"name\":\"jill\",\"age\":30,\"email\":\"jill@acme.inc\"}]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":840,"wires":[["2f9cc70b.c4c838"]]},{"id":"b053ce40.7bcd4","type":"debug","z":"337ca1f2.53e7ce","name":"output3","active":false,"console":"false","complete":"payload","x":740,"y":840,"wires":[]},{"id":"4640cb4f.27b034","type":"debug","z":"337ca1f2.53e7ce","name":"output4","active":false,"console":"false","complete":"payload","x":740,"y":940,"wires":[]},{"id":"f3f50b2e.0e66f8","type":"comment","z":"337ca1f2.53e7ce","name":"Add solution for test 1 here","info":"","x":450,"y":620,"wires":[]},{"id":"c25ac213.04587","type":"comment","z":"337ca1f2.53e7ce","name":"Add solution for test 2 here","info":"","x":450,"y":720,"wires":[]},{"id":"77eed5ab.401fcc","type":"comment","z":"337ca1f2.53e7ce","name":"Add solution for test 3 here","info":"","x":450,"y":820,"wires":[]},{"id":"8501fc8b.2c14c","type":"comment","z":"337ca1f2.53e7ce","name":"Add solution for test 4 here","info":"","x":450,"y":920,"wires":[]},{"id":"3099dbb6.a03a94","type":"comment","z":"337ca1f2.53e7ce","name":"Test scenarios","info":"You need to implement the equivalent functionality of the function nodes without using a function node and only using the preinstalled nodes","x":70,"y":140,"wires":[]},{"id":"7ace55ab.d04dfc","type":"comment","z":"337ca1f2.53e7ce","name":"ADD YOUR SOLUTIONS HERE","info":"Implement your solutions to the test scenarios.  \n\nsolution 1 should be the solution to test 1, solution 2 for test 2, etc...  \n\n**Do not** alter the names of the input nodes, as the grader relies on the set values to grade your solution.\n\n","x":130,"y":580,"wires":[]},{"id":"2d37679f.9dd828","type":"change","z":"337ca1f2.53e7ce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":640,"wires":[["47f61a28.186c54"]]},{"id":"2f9cc70b.c4c838","type":"change","z":"337ca1f2.53e7ce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload{\t    name: \"Age is \" & age & \" and email address is \"& email\t}\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":840,"wires":[["b053ce40.7bcd4"]]},{"id":"c3516e89.af3bc","type":"change","z":"337ca1f2.53e7ce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload{\t    name :  \"works for \" & email\t    \t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":940,"wires":[["4640cb4f.27b034"]]},{"id":"d659e678.405d38","type":"change","z":"337ca1f2.53e7ce","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.name & \" is \" & payload.age & \" years old\"\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":740,"wires":[["4fff65a9.83133c"]]},{"id":"1574e208.5ad55e","type":"http in","z":"a3abfc61.90e76","name":"","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":140,"y":680,"wires":[["4cdbb825.cd0fb8"]]},{"id":"c9faa54b.9c83a8","type":"http response","z":"a3abfc61.90e76","name":"","statusCode":"","headers":{},"x":660,"y":820,"wires":[]},{"id":"4cdbb825.cd0fb8","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":220,"y":760,"wires":[]},{"id":"912c7322.75cd6","type":"change","z":"a3abfc61.90e76","name":"","rules":[{"t":"set","p":"header","pt":"msg","to":"{\"Content-Type\":\"text/plain\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":720,"wires":[["c4224903.205d98"]]},{"id":"c4224903.205d98","type":"function","z":"a3abfc61.90e76","name":"","func":"var options = {\n timeZone: 'Europe/London',\n year : 'numeric', month: 'short', day: 'numeric', weekday: 'long',\n hour: 'numeric', minute: 'numeric', second: 'numeric',\n hour12: false,\n timeXoneName: 'short'\n};\nmsg.payload = new Intl.DateTimeFormat('en-GB', options).format(new Date());\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":780,"wires":[["c9faa54b.9c83a8"]]},{"id":"2685361e.3909aa","type":"comment","z":"337ca1f2.53e7ce","name":"node 2","info":"","x":390,"y":1140,"wires":[]},{"id":"a98ffb8b.2e9dd8","type":"debug","z":"337ca1f2.53e7ce","name":"Output","active":false,"console":"false","complete":"payload","x":930,"y":1420,"wires":[]},{"id":"4b21d48e.fe5acc","type":"debug","z":"337ca1f2.53e7ce","name":"2nd Output","active":false,"console":"false","complete":"payload","x":950,"y":1500,"wires":[]},{"id":"b461e1ea.a2e06","type":"debug","z":"337ca1f2.53e7ce","name":"3rd Output","active":false,"console":"false","complete":"payload","x":950,"y":1580,"wires":[]},{"id":"ab6d2256.802ef","type":"function","z":"337ca1f2.53e7ce","name":"Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];","outputs":1,"noerr":0,"x":430,"y":1320,"wires":[["a98ffb8b.2e9dd8"]]},{"id":"d12cfac6.ec01f8","type":"function","z":"337ca1f2.53e7ce","name":"Array in Array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [[msg1, msg2, msg3, msg4]]","outputs":1,"noerr":0,"x":400,"y":1360,"wires":[["a98ffb8b.2e9dd8"]]},{"id":"c460bd43.a021","type":"function","z":"337ca1f2.53e7ce","name":"Multiple returns","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, msg2, msg3, msg4];\n","outputs":"3","noerr":0,"x":400,"y":1440,"wires":[["a98ffb8b.2e9dd8"],["4b21d48e.fe5acc"],["b461e1ea.a2e06"]]},{"id":"29b05667.20c28a","type":"function","z":"337ca1f2.53e7ce","name":"Multiple returns array in array","func":"var msg1 = { payload:\"first message\" };\nvar msg2 = { payload:\"second message\" };\nvar msg3 = { payload:\"third message\" };\nvar msg4 = { payload:\"fourth message\" };\nreturn [msg1, [ msg2, msg3], msg4];\n","outputs":"3","noerr":0,"x":330,"y":1500,"wires":[["a98ffb8b.2e9dd8"],["4b21d48e.fe5acc"],["b461e1ea.a2e06"]]},{"id":"11775d2b.186933","type":"function","z":"337ca1f2.53e7ce","name":"Create JSON Object","func":"msg.payload = {\"a\" : { \"b\" : \"test\"}};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1580,"wires":[["a98ffb8b.2e9dd8","c5199c41.c2e8b"]]},{"id":"6df332e9.f0e7fc","type":"function","z":"337ca1f2.53e7ce","name":"Create JSON String","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":1620,"wires":[["a98ffb8b.2e9dd8","c5199c41.c2e8b"]]},{"id":"5eb227d0.fb97e8","type":"function","z":"337ca1f2.53e7ce","name":"Create JSON String in msg.payload","func":"msg.payload = '{\"a\" : { \"b\" : \"test\"}}';\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":1660,"wires":[["a98ffb8b.2e9dd8","1f01b3fc.4ca9bc"]]},{"id":"78527107.fbf0f","type":"function","z":"337ca1f2.53e7ce","name":"return string in object","func":"return {\"payload\" : \"Hello Coursera\"};","outputs":1,"noerr":0,"x":380,"y":1220,"wires":[["a98ffb8b.2e9dd8"]]},{"id":"1f01b3fc.4ca9bc","type":"json","z":"337ca1f2.53e7ce","name":"","x":570,"y":1660,"wires":[["4b21d48e.fe5acc","c5199c41.c2e8b"]]},{"id":"c5199c41.c2e8b","type":"function","z":"337ca1f2.53e7ce","name":"retrieve data from Object","func":"msg.payload = msg.payload.a.b;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1560,"wires":[["b461e1ea.a2e06"]]},{"id":"ef962371.1b031","type":"inject","z":"337ca1f2.53e7ce","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":90,"y":1320,"wires":[["ab6d2256.802ef"]]},{"id":"9f044f55.afc41","type":"inject","z":"337ca1f2.53e7ce","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":90,"y":1360,"wires":[["d12cfac6.ec01f8"]]},{"id":"f31e147f.d0fe38","type":"inject","z":"337ca1f2.53e7ce","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":1440,"wires":[["c460bd43.a021"]]},{"id":"d72d3e2d.43c7a","type":"inject","z":"337ca1f2.53e7ce","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":70,"y":1500,"wires":[["29b05667.20c28a"]]},{"id":"75d314da.06282c","type":"inject","z":"337ca1f2.53e7ce","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":90,"y":1580,"wires":[["11775d2b.186933"]]},{"id":"c134319.afd1bd","type":"inject","z":"337ca1f2.53e7ce","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":90,"y":1620,"wires":[["6df332e9.f0e7fc"]]},{"id":"99479d96.eb40b","type":"inject","z":"337ca1f2.53e7ce","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":1660,"wires":[["5eb227d0.fb97e8"]]},{"id":"7a448ba6.e686a4","type":"inject","z":"337ca1f2.53e7ce","name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":90,"y":1220,"wires":[["78527107.fbf0f"]]},{"id":"997ad89f.a57118","type":"function","z":"337ca1f2.53e7ce","name":"Status and logging functions","func":"node.status({text:\"started\"});\n\nsetTimeout(function() {\n    node.status({fill:\"red\",shape:\"ring\",text:\"stage 1\"});\n    \n    setTimeout(function() {\n        node.status({fill:\"green\",shape:\"dot\",text:\"stage 2\"});\n        node.error(\"This is an error\", {'payload' : 'Caught error'});\n        \n        setTimeout(function() {\n            node.error(\"Second error\");\n            node.status({});\n            node.send({'payload' : 'Completed'});\n        }, 1000);\n        \n    }, 1000);\n    \n}, 1000);\n\nnode.warn(\"Exiting node\");\nreturn;","outputs":1,"noerr":0,"x":360,"y":1720,"wires":[["a98ffb8b.2e9dd8"]]},{"id":"a7694a7a.e60b28","type":"inject","z":"337ca1f2.53e7ce","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":1720,"wires":[["997ad89f.a57118"]]},{"id":"d910799e.982538","type":"catch","z":"337ca1f2.53e7ce","name":"Catch node","scope":["997ad89f.a57118"],"x":410,"y":1760,"wires":[["43919671.a23e78"]]},{"id":"a3b172e4.439a","type":"function","z":"337ca1f2.53e7ce","name":"return string","func":"return 'This is a string';","outputs":1,"noerr":0,"x":410,"y":1180,"wires":[["a98ffb8b.2e9dd8"]]},{"id":"9ffc2b9e.7eb7c8","type":"inject","z":"337ca1f2.53e7ce","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":1180,"wires":[["a3b172e4.439a"]]},{"id":"43919671.a23e78","type":"debug","z":"337ca1f2.53e7ce","name":"entire msg","active":false,"console":"false","complete":"true","x":950,"y":1660,"wires":[]},{"id":"1615a13a.26a13f","type":"template","z":"a3abfc61.90e76","name":"format html page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[\n    {\n        \"id\": \"3602a246.e62dee\",\n        \"type\": \"tab\",\n        \"label\": \"Mock Data to Watson IoT\",\n        \"disabled\": false,\n        \"info\": \"\"\n    },\n    {\n        \"id\": \"a8143faf.485e8\",\n        \"type\": \"tab\",\n        \"label\": \"Data From Watson IoT\",\n        \"disabled\": false,\n        \"info\": \"\"\n    },\n    {\n        \"id\": \"8d119294.15509\",\n        \"type\": \"tab\",\n        \"label\": \"Watson IoT to Database\",\n        \"disabled\": false,\n        \"info\": \"\"\n    },\n    {\n        \"id\": \"3c36afe7.a6f26\",\n        \"type\": \"tab\",\n        \"label\": \"REST API\",\n        \"disabled\": false,\n        \"info\": \"\"\n    },\n    {\n        \"id\": \"d5b096e.06ab668\",\n        \"type\": \"ibmiot\",\n        \"z\": \"\",\n        \"name\": \"\",\n        \"keepalive\": \"60\",\n        \"serverName\": \"h4hb4a.messaging.internetofthings.ibmcloud.com\",\n        \"cleansession\": true,\n        \"appId\": \"\",\n        \"shared\": false\n    },\n    {\n        \"id\": \"c42cf65e.aaea98\",\n        \"type\": \"wiotp-credentials\",\n        \"z\": \"\",\n        \"name\": \"\",\n        \"org\": \"\",\n        \"devType\": \"mockDevice\",\n        \"devId\": \"mockDeviceFromNodeRed-device\"\n    },\n    {\n        \"id\": \"ac1e7d7c.29388\",\n        \"type\": \"inject\",\n        \"z\": \"3602a246.e62dee\",\n        \"name\": \"Interval\",\n        \"topic\": \"\",\n        \"payload\": \"\",\n        \"payloadType\": \"date\",\n        \"repeat\": \"43200\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"x\": 126,\n        \"y\": 317,\n        \"wires\": [\n            [\n                \"1cbe024c.73aafe\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"1cbe024c.73aafe\",\n        \"type\": \"function\",\n        \"z\": \"3602a246.e62dee\",\n        \"name\": \"mockSensorData\",\n        \"func\": \"var maxTemp = 50;\\nvar minTemp = -20;\\nvar temp = Math.random() * (maxTemp - minTemp) + minTemp;\\n\\nvar maxHum = 80;\\nvar minHum = 5;\\nvar hum = Math.random() * (maxHum - minHum) + minHum;\\n\\nvar maxQua = 100;\\nvar minQua = 0;\\nvar airQua = Math.random() * (maxQua - minQua) + minQua;\\n\\nvar maxLight = 1023;\\nvar minLight = 0;\\nvar light = Math.random() * (maxHum - minLight) + minLight;\\n\\nmsg.payload= { \\n    temp: temp, \\n    hum: hum, \\n    airQua: airQua,\\n    light: light\\n}\\n\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"x\": 338,\n        \"y\": 317,\n        \"wires\": [\n            [\n                \"4e2c8dc9.388b64\",\n                \"7a319a35.343614\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"4e2c8dc9.388b64\",\n        \"type\": \"ibmiot out\",\n        \"z\": \"3602a246.e62dee\",\n        \"authentication\": \"apiKey\",\n        \"apiKey\": \"d5b096e.06ab668\",\n        \"outputType\": \"evt\",\n        \"deviceId\": \"mockDeviceFromNodeRed\",\n        \"deviceType\": \"mockDevice\",\n        \"eventCommandType\": \"enviromentalData\",\n        \"format\": \"json\",\n        \"data\": \"sensorData\",\n        \"qos\": 0,\n        \"name\": \"IBM IoT Bluemix Service\",\n        \"service\": \"registered\",\n        \"x\": 616,\n        \"y\": 317,\n        \"wires\": []\n    },\n    {\n        \"id\": \"7a319a35.343614\",\n        \"type\": \"debug\",\n        \"z\": \"3602a246.e62dee\",\n        \"name\": \"\",\n        \"active\": false,\n        \"console\": \"false\",\n        \"complete\": \"false\",\n        \"x\": 608.5,\n        \"y\": 238,\n        \"wires\": []\n    },\n    {\n        \"id\": \"bbbce8d4.2c5ad8\",\n        \"type\": \"ibmiot in\",\n        \"z\": \"a8143faf.485e8\",\n        \"authentication\": \"apiKey\",\n        \"apiKey\": \"d5b096e.06ab668\",\n        \"inputType\": \"evt\",\n        \"deviceId\": \"mockDeviceFromNodeRed\",\n        \"applicationId\": \"\",\n        \"deviceType\": \"+\",\n        \"eventType\": \"+\",\n        \"commandType\": \"\",\n        \"format\": \"json\",\n        \"name\": \"IBM IoT Connection with API Key\",\n        \"service\": \"registered\",\n        \"allDevices\": \"\",\n        \"allApplications\": \"\",\n        \"allDeviceTypes\": true,\n        \"allEvents\": true,\n        \"allCommands\": \"\",\n        \"allFormats\": \"\",\n        \"qos\": 0,\n        \"x\": 146,\n        \"y\": 113,\n        \"wires\": [\n            [\n                \"6eac38f.daf06c8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"6eac38f.daf06c8\",\n        \"type\": \"debug\",\n        \"z\": \"a8143faf.485e8\",\n        \"name\": \"API KEY\",\n        \"active\": true,\n        \"console\": \"false\",\n        \"complete\": \"payload\",\n        \"x\": 479,\n        \"y\": 112,\n        \"wires\": []\n    },\n    {\n        \"id\": \"86854498.f1fcc8\",\n        \"type\": \"ibmiot in\",\n        \"z\": \"8d119294.15509\",\n        \"authentication\": \"apiKey\",\n        \"apiKey\": \"d5b096e.06ab668\",\n        \"inputType\": \"evt\",\n        \"deviceId\": \"mockDeviceFromNodeRed\",\n        \"applicationId\": \"\",\n        \"deviceType\": \"+\",\n        \"eventType\": \"+\",\n        \"commandType\": \"\",\n        \"format\": \"json\",\n        \"name\": \"IBM IoT Connection with API Key\",\n        \"service\": \"registered\",\n        \"allDevices\": \"\",\n        \"allApplications\": \"\",\n        \"allDeviceTypes\": true,\n        \"allEvents\": true,\n        \"allCommands\": \"\",\n        \"allFormats\": \"\",\n        \"qos\": 0,\n        \"x\": 168,\n        \"y\": 42,\n        \"wires\": [\n            [\n                \"ea274d77.124c4\",\n                \"4e9ae5da.b9f30c\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"ea274d77.124c4\",\n        \"type\": \"debug\",\n        \"z\": \"8d119294.15509\",\n        \"name\": \"API KEY\",\n        \"active\": false,\n        \"console\": \"false\",\n        \"complete\": \"payload\",\n        \"x\": 501,\n        \"y\": 41,\n        \"wires\": []\n    },\n    {\n        \"id\": \"4e9ae5da.b9f30c\",\n        \"type\": \"cloudant out\",\n        \"z\": \"8d119294.15509\",\n        \"name\": \"Database\",\n        \"cloudant\": \"\",\n        \"database\": \"mockdevice\",\n        \"service\": \"create-api-cloudantNoSQLDB\",\n        \"payonly\": true,\n        \"operation\": \"insert\",\n        \"x\": 498,\n        \"y\": 179,\n        \"wires\": []\n    },\n    {\n        \"id\": \"311d3f91.3102d\",\n        \"type\": \"http in\",\n        \"z\": \"3c36afe7.a6f26\",\n        \"name\": \"\",\n        \"url\": \"/sensor-data\",\n        \"method\": \"get\",\n        \"upload\": false,\n        \"swaggerDoc\": \"\",\n        \"x\": 137,\n        \"y\": 47,\n        \"wires\": [\n            [\n                \"9441d811.4544b8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"f8b877a6.01fde8\",\n        \"type\": \"http response\",\n        \"z\": \"3c36afe7.a6f26\",\n        \"name\": \"\",\n        \"statusCode\": \"200\",\n        \"headers\": {},\n        \"x\": 568,\n        \"y\": 46,\n        \"wires\": []\n    },\n    {\n        \"id\": \"9441d811.4544b8\",\n        \"type\": \"cloudant in\",\n        \"z\": \"3c36afe7.a6f26\",\n        \"name\": \"\",\n        \"cloudant\": \"\",\n        \"database\": \"mockdevice\",\n        \"service\": \"create-api-cloudantNoSQLDB\",\n        \"search\": \"_all_\",\n        \"design\": \"\",\n        \"index\": \"\",\n        \"x\": 339,\n        \"y\": 48,\n        \"wires\": [\n            [\n                \"f8b877a6.01fde8\"\n            ]\n        ]\n    }\n]\n","x":330,"y":3580,"wires":[["a5cb86f4.0789a8"]]},{"id":"43a21ce4.5f8b34","type":"http in","z":"a3abfc61.90e76","name":"/menu","url":"/aashay","method":"get","upload":false,"swaggerDoc":"","x":90,"y":3580,"wires":[["1615a13a.26a13f","8836c7a0.596008"]]},{"id":"7ad0ae5b.c7808","type":"http response","z":"a3abfc61.90e76","name":"","statusCode":"","headers":{},"x":730,"y":3540,"wires":[]},{"id":"8836c7a0.596008","type":"debug","z":"a3abfc61.90e76","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":230,"y":3520,"wires":[]},{"id":"a5cb86f4.0789a8","type":"change","z":"a3abfc61.90e76","name":"header","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":3580,"wires":[["7ad0ae5b.c7808"]]},{"id":"1930bc03.ff9774","type":"http in","z":"a3abfc61.90e76","name":"","url":"/spit","method":"get","upload":false,"swaggerDoc":"","x":150,"y":3820,"wires":[["575a77b7.25ef88","ec14dcdf.c562b"]]},{"id":"9855f5a.3bd3808","type":"http request","z":"a3abfc61.90e76","name":"","method":"GET","ret":"txt","url":"","x":770,"y":3880,"wires":[[]]},{"id":"575a77b7.25ef88","type":"change","z":"a3abfc61.90e76","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"text/plain\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":3820,"wires":[["d968011f.77d46"]]},{"id":"d968011f.77d46","type":"function","z":"a3abfc61.90e76","name":"","func":"var options = {\n timeZone: 'Europe/London',\n year : 'numeric', month: 'short', day: 'numeric', weekday: 'long',\n hour: 'numeric', minute: 'numeric', second: 'numeric',\n hour12: false,\n timeXoneName: 'short'\n};\nmsg.payload = new Intl.DateTimeFormat('en-GB', options).format(new Date());\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":3840,"wires":[["9855f5a.3bd3808"]]},{"id":"ec14dcdf.c562b","type":"debug","z":"a3abfc61.90e76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":3860,"wires":[]},{"id":"1eebbbed.4215c4","type":"http request","z":"a3abfc61.90e76","name":"","method":"GET","ret":"obj","url":"https://gateway-lon.watsonplatform.net/language-translator/api/v2/translate? text=where%20is%20the%20cinema%3F&source=en&target=es","tls":"","x":430,"y":1020,"wires":[["88d6f485.ee5528"]]},{"id":"8f84aab4.a89338","type":"change","z":"a3abfc61.90e76","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Accept\":\"application/json\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":960,"wires":[["1eebbbed.4215c4"]]},{"id":"d3fb5aec.9db4c8","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":920,"wires":[["8f84aab4.a89338"]]},{"id":"88d6f485.ee5528","type":"debug","z":"a3abfc61.90e76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":1080,"wires":[]},{"id":"16fbd9db.214c46","type":"change","z":"a3abfc61.90e76","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Accept\":\"application/json\"}","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"{\"model_id\":\"en-de\",\"text\":\"i love you\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":1160,"wires":[["4a10268d.8dd1d8","88d6f485.ee5528"]]},{"id":"4a10268d.8dd1d8","type":"http response","z":"a3abfc61.90e76","name":"","statusCode":"","headers":{},"x":660,"y":1160,"wires":[]},{"id":"be27557.131dba8","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1020,"wires":[["639ba8f2.dcfe98"]]},{"id":"639ba8f2.dcfe98","type":"http request","z":"a3abfc61.90e76","name":"","method":"GET","ret":"obj","url":"https://gateway-lon.watsonplatform.net/language-translator/api/v2/translate? text=where%20is%20the%20cinema%3F&source=en&target=es","tls":"","x":250,"y":1060,"wires":[["16fbd9db.214c46"]]},{"id":"9285e3ba.04816","type":"http response","z":"a3abfc61.90e76","name":"`","statusCode":"","headers":{},"x":650,"y":3260,"wires":[]},{"id":"74e640c3.5c47b","type":"http request","z":"a3abfc61.90e76","name":"","method":"GET","ret":"txt","url":"","x":330,"y":2980,"wires":[[]]},{"id":"88855470.923b18","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":2980,"wires":[["74e640c3.5c47b"]]},{"id":"ab7e3536.b47cf8","type":"http in","z":"a3abfc61.90e76","name":"","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":100,"y":3160,"wires":[["4342307b.373d3"]]},{"id":"aff909b6.ecdcd8","type":"debug","z":"a3abfc61.90e76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":3160,"wires":[]},{"id":"4342307b.373d3","type":"change","z":"a3abfc61.90e76","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Content-Type\":\"text/plain\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":3180,"wires":[["91f0f5fb.507398"]]},{"id":"91f0f5fb.507398","type":"function","z":"a3abfc61.90e76","name":"","func":"var options = {\n timeZone: 'Europe/London',\n year : 'numeric', month: 'short', day: 'numeric', weekday: 'long',\n hour: 'numeric', minute: 'numeric', second: 'numeric',\n hour12: false,\n timeXoneName: 'short'\n};\nmsg.payload = new Intl.DateTimeFormat('en-GB', options).format(new Date());\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":3200,"wires":[["aff909b6.ecdcd8","9285e3ba.04816"]]},{"id":"cafcf915.b229b8","type":"debug","z":"a3abfc61.90e76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":2820,"wires":[]},{"id":"3e94c20a.5ee80e","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"myPassword","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":2820,"wires":[["27ce297f.03cb26"]]},{"id":"27ce297f.03cb26","type":"bcrypt","z":"a3abfc61.90e76","name":"","action":"encrypt","field":"payload","hash":"payload","rounds":10,"x":310,"y":2820,"wires":[["cafcf915.b229b8"]]},{"id":"603c32bb.f2008c","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":3060,"wires":[[]]},{"id":"226e7337.f8fa9c","type":"debug","z":"5ca7570.9a083a8","name":"","active":false,"console":"false","complete":"false","x":570,"y":120,"wires":[]},{"id":"4cf977dd.ba1b88","type":"function","z":"5ca7570.9a083a8","name":"Get ADC Value","func":"\nreturn {payload:msg.payload.d.adc};","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["226e7337.f8fa9c"]]},{"id":"76dafe9c.390c1","type":"debug","z":"5ca7570.9a083a8","name":"","active":false,"console":"false","complete":"false","x":550,"y":360,"wires":[]},{"id":"c8d30d66.c034f","type":"http in","z":"5ca7570.9a083a8","name":"High adc alert","url":"/alert","method":"post","upload":false,"swaggerDoc":"","x":150,"y":480,"wires":[["64401dd9.60f474","95d5175f.6a0998"]]},{"id":"87f3e58e.561608","type":"ui_toast","z":"5ca7570.9a083a8","outputs":0,"name":"","x":550,"y":420,"wires":[]},{"id":"45ad5917.255018","type":"debug","z":"5ca7570.9a083a8","name":"","active":false,"console":"false","complete":"payload","x":550,"y":460,"wires":[]},{"id":"64401dd9.60f474","type":"function","z":"5ca7570.9a083a8","name":"Show toast content","func":"var adcValue=0;\nvar time=msg.payload.timestamp;\nvar msgStr=msg.payload.message;\nvar msgObj = JSON.parse(msgStr);\nadcValue=msgObj.d.adc;\nvar date = new Date(parseInt(time)).toISOString();\nvar content={};\ncontent.payload=\"High ADC at \"+date+\" with value \" +adcValue;  ;\ncontent.topic=\"High ADC\";\nreturn content; ","outputs":1,"noerr":0,"x":350,"y":440,"wires":[["45ad5917.255018","87f3e58e.561608"]]},{"id":"95d5175f.6a0998","type":"function","z":"5ca7570.9a083a8","name":"Map to blockchain sv","func":"\nvar adcValue=0;\nvar time=msg.payload.timestamp;\nvar msgStr=msg.payload.message;\nvar msgObj = JSON.parse(msgStr);\nadcValue=msgObj.d.adc;\nvar date = new Date(parseInt(time)).toISOString();\nvar content={};\ncontent.id=\"demoDevice\";\ncontent.company=\"T2Techhub\";\ncontent.value=adcValue;\ncontent.lat=21.015366;\ncontent.lon=105.782269;\nreturn {payload:{d:content}}; ","outputs":1,"noerr":0,"x":360,"y":560,"wires":[["1e51ec21.4c1cb4"]]},{"id":"1e51ec21.4c1cb4","type":"debug","z":"5ca7570.9a083a8","name":"","active":true,"console":"false","complete":"false","x":550,"y":600,"wires":[]},{"id":"5f413a9b.5c86f4","type":"debug","z":"7f48f61c.c58808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":260,"wires":[]},{"id":"7dca20eb.04ef5","type":"ui_gauge","z":"7f48f61c.c58808","name":"","group":"","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"70","x":440,"y":300,"wires":[]},{"id":"3f68703c.291eb","type":"ui_text","z":"7f48f61c.c58808","group":"","order":2,"width":"6","height":"2","name":"","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":220,"wires":[]},{"id":"72ec5745.eb2958","type":"debug","z":"7f48f61c.c58808","name":"","active":false,"console":"false","complete":"false","x":450,"y":100,"wires":[]},{"id":"7f54cabd.585124","type":"function","z":"7f48f61c.c58808","name":"inner temp","func":"\nreturn {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":250,"y":120,"wires":[["72ec5745.eb2958","a9ba4ec1.05eaf","12ef331.09e00cd","f63674fb.efbcc8","23ccd57f.4877ca"]]},{"id":"a9ba4ec1.05eaf","type":"ui_gauge","z":"7f48f61c.c58808","name":"","group":"","order":1,"width":"0","height":"0","gtype":"gage","title":"temperature","label":"C","format":"{{value}}","min":"10","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"45","x":450,"y":140,"wires":[]},{"id":"78498c7c.0cd6f4","type":"function","z":"7f48f61c.c58808","name":"Humidity","func":"\nreturn {payload:msg.payload.d.temperatur2};","outputs":1,"noerr":0,"x":240,"y":260,"wires":[["3f68703c.291eb","5f413a9b.5c86f4","7dca20eb.04ef5","e3e85312.7ea79"]]},{"id":"a7c717a3.092288","type":"debug","z":"7f48f61c.c58808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":440,"wires":[]},{"id":"30e14dff.015842","type":"ui_gauge","z":"7f48f61c.c58808","name":"","group":"","order":1,"width":0,"height":0,"gtype":"gage","title":"lux","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":430,"y":480,"wires":[]},{"id":"89625605.fbdb18","type":"ui_text","z":"7f48f61c.c58808","group":"","order":2,"width":0,"height":0,"name":"","label":"lux","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":400,"wires":[]},{"id":"772824f2.a87e5c","type":"function","z":"7f48f61c.c58808","name":"lux","func":"\nreturn {payload:msg.payload.d.temperatur3};","outputs":1,"noerr":0,"x":210,"y":440,"wires":[["89625605.fbdb18","a7c717a3.092288","30e14dff.015842","6f4b32b6.c1c24c"]]},{"id":"85677cf2.72c5f","type":"debug","z":"7f48f61c.c58808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":380,"wires":[]},{"id":"8a0a6efb.e6e1e","type":"debug","z":"7f48f61c.c58808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":200,"wires":[]},{"id":"d544061b.c0fef8","type":"debug","z":"7f48f61c.c58808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":60,"wires":[]},{"id":"12ef331.09e00cd","type":"ui_text","z":"7f48f61c.c58808","group":"","order":2,"width":"0","height":"0","name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":60,"wires":[]},{"id":"690b2784.ed7e38","type":"ui_slider","z":"7f48f61c.c58808","name":"set temp","label":"set temp","tooltip":"","group":"","order":4,"width":"0","height":"0","passthru":true,"outs":"end","topic":"settemp","min":"10","max":"60","step":".5","x":1180,"y":520,"wires":[["d7f4be56.0ac3f","11655417.678a9c","c914699a.43f678"]]},{"id":"13a51b8e.21d124","type":"ui_text","z":"7f48f61c.c58808","group":"","order":5,"width":0,"height":0,"name":"","label":"set lux","format":"{{msg.payload}}","layout":"row-spread","x":1350,"y":380,"wires":[]},{"id":"d7f4be56.0ac3f","type":"ui_text","z":"7f48f61c.c58808","group":"","order":5,"width":"0","height":"0","name":"","label":"set temp","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":520,"wires":[]},{"id":"69ebb548.2208cc","type":"ui_slider","z":"7f48f61c.c58808","name":"set lux","label":"Set lux","tooltip":"","group":"","order":4,"width":0,"height":0,"passthru":false,"outs":"end","topic":"setlux","min":0,"max":"100","step":1,"x":1190,"y":380,"wires":[["13a51b8e.21d124","fb3ac451.5bf0f8","cf0f06e8.6b2478"]]},{"id":"3238d933.7a49c6","type":"ui_text","z":"7f48f61c.c58808","group":"","order":5,"width":0,"height":0,"name":"","label":"set moisture","format":"{{msg.payload}}","layout":"row-spread","x":1370,"y":240,"wires":[]},{"id":"96b917e4.5cf418","type":"ui_slider","z":"7f48f61c.c58808","name":"set moisture","label":"","tooltip":"","group":"","order":4,"width":0,"height":0,"passthru":true,"outs":"end","topic":"setmois","min":0,"max":"100","step":1,"x":1170,"y":240,"wires":[["3238d933.7a49c6","df06df69.f6b91","1aa99962.765107"]]},{"id":"c9808d82.a96ae","type":"debug","z":"7f48f61c.c58808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":520,"wires":[]},{"id":"11655417.678a9c","type":"function","z":"7f48f61c.c58808","name":"","func":"var value = msg.payload;\n\n// Create MQTT message in JSON\nmsg = {\n payload: JSON.stringify(\n {\n \"temperature\" : value})\n };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1350,"y":560,"wires":[["b651d132.a249b","92a20de8.4b8a6"]]},{"id":"b651d132.a249b","type":"json","z":"7f48f61c.c58808","name":"","property":"payload","action":"","pretty":true,"x":1550,"y":520,"wires":[["c9808d82.a96ae"]]},{"id":"92a20de8.4b8a6","type":"json","z":"7f48f61c.c58808","name":"","property":"payload","action":"","pretty":true,"x":1550,"y":600,"wires":[[]]},{"id":"c1242ec0.4ab7b","type":"debug","z":"7f48f61c.c58808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":360,"wires":[]},{"id":"9594f463.793e88","type":"json","z":"7f48f61c.c58808","name":"","property":"payload","action":"","pretty":true,"x":1550,"y":360,"wires":[["c1242ec0.4ab7b"]]},{"id":"7921b641.6c3438","type":"json","z":"7f48f61c.c58808","name":"","property":"payload","action":"","pretty":true,"x":1550,"y":440,"wires":[[]]},{"id":"fb3ac451.5bf0f8","type":"function","z":"7f48f61c.c58808","name":"","func":"var value = msg.payload;\n\n// Create MQTT message in JSON\nmsg = {\n payload: JSON.stringify(\n {\n lux : value})\n };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1350,"y":420,"wires":[["9594f463.793e88","7921b641.6c3438"]]},{"id":"84aedfac.9b881","type":"debug","z":"7f48f61c.c58808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1730,"y":220,"wires":[]},{"id":"dd0bf06c.4fc89","type":"json","z":"7f48f61c.c58808","name":"","property":"payload","action":"","pretty":true,"x":1550,"y":220,"wires":[["84aedfac.9b881"]]},{"id":"9233ac91.dba03","type":"json","z":"7f48f61c.c58808","name":"","property":"payload","action":"","pretty":true,"x":1550,"y":300,"wires":[[]]},{"id":"df06df69.f6b91","type":"function","z":"7f48f61c.c58808","name":"","func":"var value = msg.payload;\n\n// Create MQTT message in JSON\nmsg = {\n payload: JSON.stringify(\n {\n soilmois : value})\n };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1350,"y":280,"wires":[["dd0bf06c.4fc89","9233ac91.dba03"]]},{"id":"99f0c960.a71bc8","type":"ui_chart","z":"97d245a4.6008e8","name":"","group":"a7d4f631.5662e8","order":4,"width":0,"height":0,"label":"Monitoring","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":2,"x":250,"y":180,"wires":[[],[]]},{"id":"4194aef2.6b158","type":"ui_gauge","z":"97d245a4.6008e8","name":"","group":"a7d4f631.5662e8","order":3,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":250,"y":120,"wires":[]},{"id":"b70806d5.ea8688","type":"ui_text","z":"97d245a4.6008e8","group":"a7d4f631.5662e8","order":2,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload}}","layout":"row-spread","x":230,"y":60,"wires":[]},{"id":"5ac1466b.ea88a8","type":"ui_slider","z":"97d245a4.6008e8","name":"set temp","label":"Set Temp","tooltip":"","group":"a7d4f631.5662e8","order":1,"width":"0","height":"0","passthru":true,"outs":"end","topic":"settemp","min":"10","max":"50","step":1,"x":60,"y":100,"wires":[["4194aef2.6b158","b70806d5.ea8688","99f0c960.a71bc8","674762c0.cdf4fc"]]},{"id":"fe0ea5e9.56b728","type":"ui_chart","z":"97d245a4.6008e8","name":"","group":"4d789401.3c9adc","order":4,"width":0,"height":0,"label":"Monitoring","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":2,"x":270,"y":380,"wires":[[],[]]},{"id":"452f60c2.ca7b3","type":"ui_gauge","z":"97d245a4.6008e8","name":"","group":"4d789401.3c9adc","order":3,"width":"0","height":"0","gtype":"gage","title":"Soil moisture","label":"%","format":"{{value}}","min":"10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":270,"y":320,"wires":[]},{"id":"cd7a3cd4.bfbb3","type":"ui_text","z":"97d245a4.6008e8","group":"4d789401.3c9adc","order":2,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":260,"wires":[]},{"id":"2e47eea8.467742","type":"ui_chart","z":"97d245a4.6008e8","name":"","group":"61399976.9aafb8","order":4,"width":0,"height":0,"label":"Monitoring","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":2,"x":270,"y":560,"wires":[[],[]]},{"id":"a0d57781.5c6658","type":"ui_gauge","z":"97d245a4.6008e8","name":"","group":"61399976.9aafb8","order":3,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"in %(g/m3)","format":"{{value}}","min":"10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":260,"y":500,"wires":[]},{"id":"7ef785e7.e8e1fc","type":"ui_text","z":"97d245a4.6008e8","group":"61399976.9aafb8","order":2,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload}}","layout":"row-spread","x":250,"y":440,"wires":[]},{"id":"4efafb19.7b6884","type":"ui_slider","z":"97d245a4.6008e8","name":"set humidity","label":"Set Humidity","tooltip":"","group":"61399976.9aafb8","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"set humidity","min":"10","max":"50","step":1,"x":70,"y":500,"wires":[["a0d57781.5c6658","7ef785e7.e8e1fc","2e47eea8.467742","c63ac6be.a9a698"]]},{"id":"3c03e5e.dbb721a","type":"ui_chart","z":"97d245a4.6008e8","name":"","group":"7af877c3.809b88","order":4,"width":0,"height":0,"label":"Monitoring","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":2,"x":290,"y":780,"wires":[[],[]]},{"id":"fb740f75.f4458","type":"ui_gauge","z":"97d245a4.6008e8","name":"","group":"7af877c3.809b88","order":3,"width":"0","height":"0","gtype":"gage","title":"Light intensity","label":"%","format":"{{value}}","min":"10","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"40","x":300,"y":720,"wires":[]},{"id":"c00a4a92.ae6598","type":"ui_text","z":"97d245a4.6008e8","group":"7af877c3.809b88","order":2,"width":0,"height":0,"name":"","label":"Value","format":"{{msg.payload}}","layout":"row-spread","x":270,"y":660,"wires":[]},{"id":"3fe04116.be90ae","type":"ui_slider","z":"97d245a4.6008e8","name":"Set Light","label":"Set light intensity","tooltip":"","group":"7af877c3.809b88","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"Set Light","min":"10","max":"50","step":1,"x":60,"y":720,"wires":[["fb740f75.f4458","c00a4a92.ae6598","3c03e5e.dbb721a","80e67653.39e9f8"]]},{"id":"e99c8e39.caf98","type":"ui_slider","z":"97d245a4.6008e8","name":"set moisture","label":"Set Moisture","tooltip":"","group":"4d789401.3c9adc","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"set moisture","min":"10","max":"50","step":1,"x":70,"y":320,"wires":[["452f60c2.ca7b3","cd7a3cd4.bfbb3","fe0ea5e9.56b728","d16122ac.a5816"]]},{"id":"aaef5794.62e018","type":"debug","z":"97d245a4.6008e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":460,"wires":[]},{"id":"19011c94.af5793","type":"json","z":"97d245a4.6008e8","name":"","property":"payload","action":"","pretty":true,"x":670,"y":460,"wires":[["aaef5794.62e018"]]},{"id":"b2bb8c73.e3026","type":"json","z":"97d245a4.6008e8","name":"","property":"payload","action":"","pretty":true,"x":670,"y":540,"wires":[[]]},{"id":"3adc564.79b63aa","type":"debug","z":"97d245a4.6008e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":260,"wires":[]},{"id":"816a5c45.3a668","type":"json","z":"97d245a4.6008e8","name":"","property":"payload","action":"","pretty":true,"x":630,"y":260,"wires":[["3adc564.79b63aa"]]},{"id":"6059d647.7de428","type":"json","z":"97d245a4.6008e8","name":"","property":"payload","action":"","pretty":true,"x":630,"y":340,"wires":[[]]},{"id":"b6024e31.81a59","type":"debug","z":"97d245a4.6008e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":60,"wires":[]},{"id":"edd46d68.aa1e3","type":"json","z":"97d245a4.6008e8","name":"","property":"payload","action":"","pretty":true,"x":610,"y":60,"wires":[["b6024e31.81a59"]]},{"id":"f0d6e67b.905d48","type":"json","z":"97d245a4.6008e8","name":"","property":"payload","action":"","pretty":true,"x":610,"y":140,"wires":[[]]},{"id":"674762c0.cdf4fc","type":"function","z":"97d245a4.6008e8","name":"","func":"var value = msg.payload;\n\n// Create MQTT message in JSON\nmsg = {\n payload: JSON.stringify(\n {\n \"temperature\" : value})\n };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["edd46d68.aa1e3","f0d6e67b.905d48"]]},{"id":"d16122ac.a5816","type":"function","z":"97d245a4.6008e8","name":"","func":"var value = msg.payload;\n\n// Create MQTT message in JSON\nmsg = {\n payload: JSON.stringify(\n {\n \"soilmois\" : value})\n };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["816a5c45.3a668","6059d647.7de428"]]},{"id":"c63ac6be.a9a698","type":"function","z":"97d245a4.6008e8","name":"","func":"var value = msg.payload;\n\n// Create MQTT message in JSON\nmsg = {\n payload: JSON.stringify(\n {\n \"humidity\" : value})\n };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["19011c94.af5793","b2bb8c73.e3026"]]},{"id":"1b7c131a.492d5d","type":"debug","z":"97d245a4.6008e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":680,"wires":[]},{"id":"6191189d.f85568","type":"json","z":"97d245a4.6008e8","name":"","property":"payload","action":"","pretty":true,"x":650,"y":680,"wires":[["1b7c131a.492d5d"]]},{"id":"f77bf193.35145","type":"json","z":"97d245a4.6008e8","name":"","property":"payload","action":"","pretty":true,"x":650,"y":760,"wires":[[]]},{"id":"80e67653.39e9f8","type":"function","z":"97d245a4.6008e8","name":"","func":"var value = msg.payload;\n\n// Create MQTT message in JSON\nmsg = {\n payload: JSON.stringify(\n {\n \"lux\" : value})\n };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":450,"y":720,"wires":[["6191189d.f85568","f77bf193.35145"]]},{"id":"e07e815d.9412f","type":"ui_switch","z":"97d245a4.6008e8","name":"","label":"ON/OFF","tooltip":"","group":"948ebaf0.b3d6c8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":920,"wires":[[]]},{"id":"98a69fff.9bb66","type":"debug","z":"7f48f61c.c58808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":600,"wires":[]},{"id":"2317a1fe.b4864e","type":"function","z":"7f48f61c.c58808","name":"soil moisture","func":"\nreturn {payload:msg.payload.d.temperatur4};","outputs":1,"noerr":0,"x":210,"y":620,"wires":[["98a69fff.9bb66","78c70fa7.b05c5","99e35787.0c43b8","d8d4bb39.1d2da8"]]},{"id":"78c70fa7.b05c5","type":"ui_text","z":"7f48f61c.c58808","group":"","order":2,"width":0,"height":0,"name":"","label":"moisture","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":560,"wires":[]},{"id":"99e35787.0c43b8","type":"ui_gauge","z":"7f48f61c.c58808","name":"","group":"","order":1,"width":0,"height":0,"gtype":"gage","title":"moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":420,"y":640,"wires":[]},{"id":"e39cf288.70c3b","type":"ui_switch","z":"7f48f61c.c58808","name":"","label":"exhaust","tooltip":"","group":"","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{}","offvalueType":"json","officon":"","offcolor":"","x":1170,"y":700,"wires":[["8f317343.ddbf"]]},{"id":"1aa99962.765107","type":"ui_gauge","z":"7f48f61c.c58808","name":"","group":"","order":3,"width":0,"height":0,"gtype":"gage","title":"moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1360,"y":180,"wires":[]},{"id":"cf0f06e8.6b2478","type":"ui_gauge","z":"7f48f61c.c58808","name":"","group":"","order":3,"width":0,"height":0,"gtype":"gage","title":"lux","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"70","seg2":"90","x":1350,"y":340,"wires":[]},{"id":"c914699a.43f678","type":"ui_gauge","z":"7f48f61c.c58808","name":"","group":"","order":3,"width":0,"height":0,"gtype":"gage","title":"temperature","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1370,"y":480,"wires":[]},{"id":"d8d4bb39.1d2da8","type":"ui_chart","z":"7f48f61c.c58808","name":"","group":"","order":6,"width":0,"height":0,"label":"moisture chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":440,"y":700,"wires":[[],[]]},{"id":"6f4b32b6.c1c24c","type":"ui_chart","z":"7f48f61c.c58808","name":"","group":"","order":6,"width":0,"height":0,"label":"Intensity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":420,"y":520,"wires":[[],[]]},{"id":"e3e85312.7ea79","type":"ui_chart","z":"7f48f61c.c58808","name":"","group":"","order":3,"width":0,"height":0,"label":"humidity chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":420,"y":340,"wires":[[],[]]},{"id":"f63674fb.efbcc8","type":"ui_chart","z":"7f48f61c.c58808","name":"","group":"","order":6,"width":0,"height":0,"label":"temperature chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":450,"y":180,"wires":[[],[]]},{"id":"e1993a64.775d88","type":"ui_toast","z":"7f48f61c.c58808","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"msg.payload","name":"","x":810,"y":100,"wires":[]},{"id":"23ccd57f.4877ca","type":"switch","z":"7f48f61c.c58808","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"\"heating\"","vt":"str"},{"t":"gt","v":"\"cooling\"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":120,"wires":[["e1993a64.775d88"],[]]},{"id":"7382976.a2c5668","type":"mqtt in","z":"a3abfc61.90e76","name":"","topic":"light","qos":"0","broker":"491ab6ba.692d08","x":360,"y":220,"wires":[["e463ff6c.e5465"]]},{"id":"3e73e565.dbc76a","type":"mqtt out","z":"a3abfc61.90e76","name":"","topic":"light","qos":"0","retain":"","broker":"491ab6ba.692d08","x":490,"y":280,"wires":[]},{"id":"4be18c2b.e76e94","type":"inject","z":"a3abfc61.90e76","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":300,"wires":[["3e73e565.dbc76a"]]},{"id":"e463ff6c.e5465","type":"debug","z":"a3abfc61.90e76","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":240,"wires":[]},{"id":"2ea2d32f.c0582c","type":"debug","z":"a3e951d6.3667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510,"y":340,"wires":[]},{"id":"d9966f16.b064f","type":"ui_gauge","z":"a3e951d6.3667d","name":"","group":"704be27e.64ba6c","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":380,"wires":[]},{"id":"7b9a4e71.0a534","type":"ui_text","z":"a3e951d6.3667d","group":"704be27e.64ba6c","order":2,"width":"6","height":"2","name":"","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":300,"wires":[]},{"id":"96a86426.c791d8","type":"debug","z":"a3e951d6.3667d","name":"","active":true,"console":"false","complete":"false","x":470,"y":100,"wires":[]},{"id":"69c48721.894df8","type":"function","z":"a3e951d6.3667d","name":"inner temp","func":"\nreturn {payload:msg.payload};","outputs":1,"noerr":0,"x":270,"y":120,"wires":[["96a86426.c791d8","e6edfbf4.bb11c8","cec4a61e.205e48","d4a05782.aa24a8"]]},{"id":"e6edfbf4.bb11c8","type":"ui_gauge","z":"a3e951d6.3667d","name":"","group":"5a08e689.f50d88","order":1,"width":"0","height":"0","gtype":"gage","title":"temperature","label":"C","format":"{{value}}","min":"10","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"45","x":470,"y":140,"wires":[]},{"id":"5c20111.8dbf1f","type":"function","z":"a3e951d6.3667d","name":"Humidity","func":"\nreturn {payload:msg.payload};","outputs":1,"noerr":0,"x":300,"y":340,"wires":[["7b9a4e71.0a534","2ea2d32f.c0582c","d9966f16.b064f","7a1b0825.815428"]]},{"id":"a0b23c.82d08dc8","type":"debug","z":"a3e951d6.3667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":480,"wires":[]},{"id":"b7f62c82.53917","type":"ui_gauge","z":"a3e951d6.3667d","name":"","group":"f6687c0f.038fc","order":1,"width":0,"height":0,"gtype":"gage","title":"lux","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":520,"wires":[]},{"id":"316e1f32.1f887","type":"ui_text","z":"a3e951d6.3667d","group":"f6687c0f.038fc","order":2,"width":"6","height":"2","name":"","label":"lux","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":440,"wires":[]},{"id":"ec6211d.085ebf","type":"function","z":"a3e951d6.3667d","name":"lux","func":"\nreturn {payload:msg.payload};","outputs":1,"noerr":0,"x":290,"y":480,"wires":[["316e1f32.1f887","a0b23c.82d08dc8","b7f62c82.53917","c89a7dbf.5f57e"]]},{"id":"ffe01f92.a093e","type":"debug","z":"a3e951d6.3667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":290,"y":400,"wires":[]},{"id":"51987d4b.6c0c24","type":"debug","z":"a3e951d6.3667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":310,"y":280,"wires":[]},{"id":"3352acc3.e09834","type":"debug","z":"a3e951d6.3667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":270,"y":60,"wires":[]},{"id":"cec4a61e.205e48","type":"ui_text","z":"a3e951d6.3667d","group":"5a08e689.f50d88","order":2,"width":"6","height":"2","name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":60,"wires":[]},{"id":"45e3db61.331934","type":"debug","z":"a3e951d6.3667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":680,"wires":[]},{"id":"553ba743.eb3648","type":"function","z":"a3e951d6.3667d","name":"soil moisture","func":"\nreturn {payload:msg.payload};","outputs":1,"noerr":0,"x":310,"y":680,"wires":[["45e3db61.331934","9f2c88a8.0e4d28","a778c4c2.6e23f8","9d31b45d.a97aa8"]]},{"id":"9f2c88a8.0e4d28","type":"ui_text","z":"a3e951d6.3667d","group":"57ebb571.bba4cc","order":2,"width":"6","height":"2","name":"","label":"moisture","format":"{{msg.payload}}","layout":"row-spread","x":520,"y":640,"wires":[]},{"id":"a778c4c2.6e23f8","type":"ui_gauge","z":"a3e951d6.3667d","name":"","group":"57ebb571.bba4cc","order":1,"width":0,"height":0,"gtype":"gage","title":"moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":720,"wires":[]},{"id":"1e0ea836.7afe08","type":"debug","z":"5ca7570.9a083a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":940,"wires":[]},{"id":"407ed1ef.75ba4","type":"ui_gauge","z":"5ca7570.9a083a8","name":"","group":"704be27e.64ba6c","order":1,"width":0,"height":0,"gtype":"gage","title":"humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":980,"wires":[]},{"id":"bcd3cbcd.68de58","type":"ui_text","z":"5ca7570.9a083a8","group":"704be27e.64ba6c","order":2,"width":"6","height":"2","name":"","label":"humidity","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":900,"wires":[]},{"id":"3e477e0b.b7c2e2","type":"debug","z":"5ca7570.9a083a8","name":"","active":true,"console":"false","complete":"false","x":450,"y":780,"wires":[]},{"id":"6ed9caa8.ee36e4","type":"function","z":"5ca7570.9a083a8","name":"inner temp","func":"\nreturn {payload:msg.payload.d.temperature};","outputs":1,"noerr":0,"x":250,"y":800,"wires":[["3e477e0b.b7c2e2","830861a1.f0cd5","1b460197.34f20e"]]},{"id":"830861a1.f0cd5","type":"ui_gauge","z":"5ca7570.9a083a8","name":"","group":"5a08e689.f50d88","order":3,"width":"0","height":"0","gtype":"gage","title":"temperature","label":"C","format":"{{value}}","min":"10","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"45","x":450,"y":820,"wires":[]},{"id":"62731945.1b0cd8","type":"function","z":"5ca7570.9a083a8","name":"Humidity","func":"\nreturn {payload:msg.payload.d.temperatur1};","outputs":1,"noerr":0,"x":240,"y":940,"wires":[["bcd3cbcd.68de58","1e0ea836.7afe08","407ed1ef.75ba4"]]},{"id":"88fab2b6.1a5f1","type":"debug","z":"5ca7570.9a083a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":1120,"wires":[]},{"id":"e9eabb87.a3aa18","type":"ui_gauge","z":"5ca7570.9a083a8","name":"","group":"f6687c0f.038fc","order":3,"width":0,"height":0,"gtype":"gage","title":"lux","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":390,"y":1160,"wires":[]},{"id":"c4e3a57.b265d58","type":"ui_text","z":"5ca7570.9a083a8","group":"f6687c0f.038fc","order":4,"width":"6","height":"2","name":"","label":"lux","format":"{{msg.payload}}","layout":"row-spread","x":390,"y":1080,"wires":[]},{"id":"a53a6a13.7819c8","type":"function","z":"5ca7570.9a083a8","name":"lux","func":"\nreturn {payload:msg.payload.d.temperatur3};","outputs":1,"noerr":0,"x":250,"y":1120,"wires":[["c4e3a57.b265d58","88fab2b6.1a5f1","e9eabb87.a3aa18"]]},{"id":"362b52f0.f9a14e","type":"debug","z":"5ca7570.9a083a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":230,"y":1060,"wires":[]},{"id":"de1d335b.84203","type":"debug","z":"5ca7570.9a083a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":880,"wires":[]},{"id":"3e25c157.78702e","type":"debug","z":"5ca7570.9a083a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":740,"wires":[]},{"id":"1b460197.34f20e","type":"ui_text","z":"5ca7570.9a083a8","group":"5a08e689.f50d88","order":4,"width":"6","height":"2","name":"","label":"temperature","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":740,"wires":[]},{"id":"5a526e0a.d7791","type":"debug","z":"5ca7570.9a083a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":1260,"wires":[]},{"id":"b03ef0e1.07949","type":"function","z":"5ca7570.9a083a8","name":"soil moisture","func":"\nreturn {payload:msg.payload.d.temperatur4};","outputs":1,"noerr":0,"x":230,"y":1260,"wires":[["5a526e0a.d7791","83742ae6.72a3d8","f063f3bf.52076"]]},{"id":"83742ae6.72a3d8","type":"ui_text","z":"5ca7570.9a083a8","group":"57ebb571.bba4cc","order":2,"width":"6","height":"2","name":"","label":"moisture","format":"{{msg.payload}}","layout":"row-spread","x":400,"y":1220,"wires":[]},{"id":"f063f3bf.52076","type":"ui_gauge","z":"5ca7570.9a083a8","name":"","group":"57ebb571.bba4cc","order":1,"width":0,"height":0,"gtype":"gage","title":"moisture","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":400,"y":1300,"wires":[]},{"id":"10b5df48.1aee41","type":"inject","z":"a3e951d6.3667d","name":"","topic":"","payload":"29","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":80,"wires":[["3352acc3.e09834","69c48721.894df8"]]},{"id":"7c861357.2a1f6c","type":"inject","z":"a3e951d6.3667d","name":"","topic":"","payload":"38","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":300,"wires":[["51987d4b.6c0c24","5c20111.8dbf1f"]]},{"id":"902d8bd3.0cccd8","type":"inject","z":"a3e951d6.3667d","name":"","topic":"","payload":"42","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":440,"wires":[["ffe01f92.a093e","ec6211d.085ebf"]]},{"id":"2b448453.2d976c","type":"inject","z":"a3e951d6.3667d","name":"","topic":"","payload":"32","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":620,"wires":[["46ba976e.ab8bb8","553ba743.eb3648"]]},{"id":"46ba976e.ab8bb8","type":"debug","z":"a3e951d6.3667d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":310,"y":600,"wires":[]},{"id":"d4a05782.aa24a8","type":"ui_chart","z":"a3e951d6.3667d","name":"","group":"5a08e689.f50d88","order":5,"width":0,"height":0,"label":"Monitoring","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":470,"y":180,"wires":[[],[]]},{"id":"7a1b0825.815428","type":"ui_chart","z":"a3e951d6.3667d","name":"","group":"704be27e.64ba6c","order":4,"width":0,"height":0,"label":"Monitoring","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":490,"y":260,"wires":[[],[]]},{"id":"c89a7dbf.5f57e","type":"ui_chart","z":"a3e951d6.3667d","name":"","group":"f6687c0f.038fc","order":5,"width":0,"height":0,"label":"Monitoring","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":490,"y":560,"wires":[[],[]]},{"id":"9d31b45d.a97aa8","type":"ui_chart","z":"a3e951d6.3667d","name":"","group":"57ebb571.bba4cc","order":4,"width":0,"height":0,"label":"Monitoring","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"10","ymax":"50","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":530,"y":760,"wires":[[],[]]},{"id":"c4caf7df.cd5578","type":"mqtt in","z":"c24f3490.03d188","name":"","topic":"home/light_2/state","qos":"2","broker":"e8c6a2a3.03aed","x":150,"y":460,"wires":[["6097edd6.bf5df4","ea3fe4a3.38bc58"]]},{"id":"21a71f09.816f3","type":"mqtt out","z":"c24f3490.03d188","name":"","topic":"pub/room1/fan_1","qos":"","retain":"","broker":"e8c6a2a3.03aed","x":470,"y":140,"wires":[]},{"id":"f39542c2.3d0cf","type":"ui_switch","z":"c24f3490.03d188","name":"","label":"Fan_1","tooltip":"","group":"79946645.11d928","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":140,"wires":[["d88344d2.604b68"]]},{"id":"3ff100c6.ed087","type":"mqtt out","z":"c24f3490.03d188","name":"","topic":"pub/room1/light_1","qos":"","retain":"","broker":"e8c6a2a3.03aed","x":470,"y":220,"wires":[]},{"id":"d6d5bceb.dea5d","type":"ui_switch","z":"c24f3490.03d188","name":"","label":"Light_1","tooltip":"","group":"c8a25a53.138138","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":220,"wires":[["b7ba995a.1760f8"]]},{"id":"89d65ad6.1883d8","type":"mqtt out","z":"c24f3490.03d188","name":"","topic":"pub/room1/fan_2","qos":"","retain":"","broker":"e8c6a2a3.03aed","x":470,"y":300,"wires":[]},{"id":"cca7afaf.21312","type":"ui_switch","z":"c24f3490.03d188","name":"","label":"fan _2","tooltip":"","group":"8adc1216.3731d","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":110,"y":300,"wires":[["80411cb3.8806a"]]},{"id":"534f429e.6d416c","type":"mqtt out","z":"c24f3490.03d188","name":"","topic":"pub/room1/light_2","qos":"","retain":"","broker":"e8c6a2a3.03aed","x":470,"y":80,"wires":[]},{"id":"ef2879d9.661c38","type":"ui_switch","z":"c24f3490.03d188","name":"","label":"Light_2","tooltip":"","group":"4635d69c.290f28","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":80,"wires":[["cda43b35.f9b388"]]},{"id":"a5d5ea39.34dd78","type":"mqtt in","z":"c24f3490.03d188","name":"","topic":"home/fan_1/state","qos":"2","broker":"e8c6a2a3.03aed","x":140,"y":520,"wires":[["4cd4f68c.8ca9f8","ea3fe4a3.38bc58"]]},{"id":"39971e76.8b5062","type":"mqtt in","z":"c24f3490.03d188","name":"","topic":"home/light_1/state","qos":"2","broker":"e8c6a2a3.03aed","x":150,"y":600,"wires":[["7e36a82.9fcf258","ea3fe4a3.38bc58"]]},{"id":"7edfedf.1354b14","type":"mqtt in","z":"c24f3490.03d188","name":"","topic":"home/fan_2/state","qos":"2","broker":"e8c6a2a3.03aed","x":140,"y":680,"wires":[["70a0a26c.1eb13c","ea3fe4a3.38bc58"]]},{"id":"6097edd6.bf5df4","type":"ui_text","z":"c24f3490.03d188","group":"4635d69c.290f28","order":0,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":460,"wires":[]},{"id":"4cd4f68c.8ca9f8","type":"ui_text","z":"c24f3490.03d188","group":"79946645.11d928","order":0,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":520,"wires":[]},{"id":"7e36a82.9fcf258","type":"ui_text","z":"c24f3490.03d188","group":"c8a25a53.138138","order":0,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":600,"wires":[]},{"id":"70a0a26c.1eb13c","type":"ui_text","z":"c24f3490.03d188","group":"8adc1216.3731d","order":0,"width":0,"height":0,"name":"","label":"State","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":680,"wires":[]},{"id":"cda43b35.f9b388","type":"function","z":"c24f3490.03d188","name":"","func":"if(msg.payload === true)\n{\n    msg.payload = \"home/Lgt_2/onn/\\n\";\n}\nif(msg.payload === false)\n{\n    msg.payload = \"home/Lgt_2/off/\\n\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["534f429e.6d416c","37bda91c.329646"]]},{"id":"d88344d2.604b68","type":"function","z":"c24f3490.03d188","name":"","func":"if(msg.payload === true)\n{\n    msg.payload = \"home/fan_1/onn/\\n\";\n}\nif(msg.payload === false)\n{\n    msg.payload = \"home/fan_1/off/\\n\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":140,"wires":[["21a71f09.816f3","37bda91c.329646"]]},{"id":"b7ba995a.1760f8","type":"function","z":"c24f3490.03d188","name":"","func":"if(msg.payload === true)\n{\n    msg.payload = \"home/Lgt_1/onn/\\n\";\n}\nif(msg.payload === false)\n{\n    msg.payload = \"home/Lgt_1/off/\\n\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["3ff100c6.ed087","37bda91c.329646"]]},{"id":"80411cb3.8806a","type":"function","z":"c24f3490.03d188","name":"","func":"if(msg.payload === true)\n{\n    msg.payload = \"home/fan_2/onn/\\n\";\n}\nif(msg.payload === false)\n{\n    msg.payload = \"home/fan_2/off/\\n\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":300,"wires":[["89d65ad6.1883d8","37bda91c.329646"]]},{"id":"37bda91c.329646","type":"debug","z":"c24f3490.03d188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":470,"y":180,"wires":[]},{"id":"ea3fe4a3.38bc58","type":"debug","z":"c24f3490.03d188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":560,"wires":[]},{"id":"1564a53a.34617b","type":"ui_text","z":"c24f3490.03d188","group":"7a7d728d.5f86ec","order":0,"width":0,"height":0,"name":"","label":"display","format":"{{msg.payload}}","layout":"row-spread","x":360,"y":380,"wires":[]},{"id":"118cb1f1.6093de","type":"mqtt in","z":"c24f3490.03d188","name":"","topic":"home/display","qos":"2","broker":"e8c6a2a3.03aed","x":130,"y":380,"wires":[["1564a53a.34617b","d21f86ae.4e5e58"]]},{"id":"d21f86ae.4e5e58","type":"debug","z":"c24f3490.03d188","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":420,"wires":[]},{"id":"c46508.faa35af8","type":"random","z":"a3abfc61.90e76","name":"","low":"0","high":"10","inte":"true","property":"payload","x":220,"y":1420,"wires":[["eb72dc8b.05fab"]]},{"id":"446f6e8a.ad968","type":"random","z":"a3abfc61.90e76","name":"","low":"1","high":"10","inte":"true","property":"payload","x":260,"y":2180,"wires":[["dd4fc394.1419f"]]},{"id":"564d5a32.e72b84","type":"random","z":"a3abfc61.90e76","name":"","low":"1","high":"100","inte":"true","property":"payload","x":300,"y":3060,"wires":[["8c748a41.5d9048"]]},{"id":"edd19f59.d5103","type":"random","z":"a3abfc61.90e76","name":"","low":"1","high":"10","inte":"true","property":"payload","x":220,"y":1420,"wires":[[]]},{"id":"2bf2e2a.f78b21e","type":"inject","z":"7f48f61c.c58808","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":860,"wires":[["35b4dd7a.1f2362"]]},{"id":"1d15a873.9ca118","type":"debug","z":"7f48f61c.c58808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":860,"wires":[]},{"id":"35b4dd7a.1f2362","type":"function","z":"7f48f61c.c58808","name":"","func":"[\n    {\n        \"id\": \"3602a246.e62dee\",\n        \"type\": \"tab\",\n        \"label\": \"Mock Data to Watson IoT\",\n        \"disabled\": false,\n        \"info\": \"\"\n    },\n    {\n        \"id\": \"a8143faf.485e8\",\n        \"type\": \"tab\",\n        \"label\": \"Data From Watson IoT\",\n        \"disabled\": false,\n        \"info\": \"\"\n    },\n    {\n        \"id\": \"8d119294.15509\",\n        \"type\": \"tab\",\n        \"label\": \"Watson IoT to Database\",\n        \"disabled\": false,\n        \"info\": \"\"\n    },\n    {\n        \"id\": \"3c36afe7.a6f26\",\n        \"type\": \"tab\",\n        \"label\": \"REST API\",\n        \"disabled\": false,\n        \"info\": \"\"\n    },\n    {\n        \"id\": \"d5b096e.06ab668\",\n        \"type\": \"ibmiot\",\n        \"z\": \"\",\n        \"name\": \"\",\n        \"keepalive\": \"60\",\n        \"serverName\": \"h4hb4a.messaging.internetofthings.ibmcloud.com\",\n        \"cleansession\": true,\n        \"appId\": \"\",\n        \"shared\": false\n    },\n    {\n        \"id\": \"c42cf65e.aaea98\",\n        \"type\": \"wiotp-credentials\",\n        \"z\": \"\",\n        \"name\": \"\",\n        \"org\": \"\",\n        \"devType\": \"mockDevice\",\n        \"devId\": \"mockDeviceFromNodeRed-device\"\n    },\n    {\n        \"id\": \"ac1e7d7c.29388\",\n        \"type\": \"inject\",\n        \"z\": \"3602a246.e62dee\",\n        \"name\": \"Interval\",\n        \"topic\": \"\",\n        \"payload\": \"\",\n        \"payloadType\": \"date\",\n        \"repeat\": \"43200\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"x\": 126,\n        \"y\": 317,\n        \"wires\": [\n            [\n                \"1cbe024c.73aafe\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"1cbe024c.73aafe\",\n        \"type\": \"function\",\n        \"z\": \"3602a246.e62dee\",\n        \"name\": \"mockSensorData\",\n        \"func\": \"var maxTemp = 50;\\nvar minTemp = -20;\\nvar temp = Math.random() * (maxTemp - minTemp) + minTemp;\\n\\nvar maxHum = 80;\\nvar minHum = 5;\\nvar hum = Math.random() * (maxHum - minHum) + minHum;\\n\\nvar maxQua = 100;\\nvar minQua = 0;\\nvar airQua = Math.random() * (maxQua - minQua) + minQua;\\n\\nvar maxLight = 1023;\\nvar minLight = 0;\\nvar light = Math.random() * (maxHum - minLight) + minLight;\\n\\nmsg.payload= { \\n    temp: temp, \\n    hum: hum, \\n    airQua: airQua,\\n    light: light\\n}\\n\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"x\": 338,\n        \"y\": 317,\n        \"wires\": [\n            [\n                \"4e2c8dc9.388b64\",\n                \"7a319a35.343614\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"4e2c8dc9.388b64\",\n        \"type\": \"ibmiot out\",\n        \"z\": \"3602a246.e62dee\",\n        \"authentication\": \"apiKey\",\n        \"apiKey\": \"d5b096e.06ab668\",\n        \"outputType\": \"evt\",\n        \"deviceId\": \"mockDeviceFromNodeRed\",\n        \"deviceType\": \"mockDevice\",\n        \"eventCommandType\": \"enviromentalData\",\n        \"format\": \"json\",\n        \"data\": \"sensorData\",\n        \"qos\": 0,\n        \"name\": \"IBM IoT Bluemix Service\",\n        \"service\": \"registered\",\n        \"x\": 616,\n        \"y\": 317,\n        \"wires\": []\n    },\n    {\n        \"id\": \"7a319a35.343614\",\n        \"type\": \"debug\",\n        \"z\": \"3602a246.e62dee\",\n        \"name\": \"\",\n        \"active\": false,\n        \"console\": \"false\",\n        \"complete\": \"false\",\n        \"x\": 608.5,\n        \"y\": 238,\n        \"wires\": []\n    },\n    {\n        \"id\": \"bbbce8d4.2c5ad8\",\n        \"type\": \"ibmiot in\",\n        \"z\": \"a8143faf.485e8\",\n        \"authentication\": \"apiKey\",\n        \"apiKey\": \"d5b096e.06ab668\",\n        \"inputType\": \"evt\",\n        \"deviceId\": \"mockDeviceFromNodeRed\",\n        \"applicationId\": \"\",\n        \"deviceType\": \"+\",\n        \"eventType\": \"+\",\n        \"commandType\": \"\",\n        \"format\": \"json\",\n        \"name\": \"IBM IoT Connection with API Key\",\n        \"service\": \"registered\",\n        \"allDevices\": \"\",\n        \"allApplications\": \"\",\n        \"allDeviceTypes\": true,\n        \"allEvents\": true,\n        \"allCommands\": \"\",\n        \"allFormats\": \"\",\n        \"qos\": 0,\n        \"x\": 146,\n        \"y\": 113,\n        \"wires\": [\n            [\n                \"6eac38f.daf06c8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"6eac38f.daf06c8\",\n        \"type\": \"debug\",\n        \"z\": \"a8143faf.485e8\",\n        \"name\": \"API KEY\",\n        \"active\": true,\n        \"console\": \"false\",\n        \"complete\": \"payload\",\n        \"x\": 479,\n        \"y\": 112,\n        \"wires\": []\n    },\n    {\n        \"id\": \"86854498.f1fcc8\",\n        \"type\": \"ibmiot in\",\n        \"z\": \"8d119294.15509\",\n        \"authentication\": \"apiKey\",\n        \"apiKey\": \"d5b096e.06ab668\",\n        \"inputType\": \"evt\",\n        \"deviceId\": \"mockDeviceFromNodeRed\",\n        \"applicationId\": \"\",\n        \"deviceType\": \"+\",\n        \"eventType\": \"+\",\n        \"commandType\": \"\",\n        \"format\": \"json\",\n        \"name\": \"IBM IoT Connection with API Key\",\n        \"service\": \"registered\",\n        \"allDevices\": \"\",\n        \"allApplications\": \"\",\n        \"allDeviceTypes\": true,\n        \"allEvents\": true,\n        \"allCommands\": \"\",\n        \"allFormats\": \"\",\n        \"qos\": 0,\n        \"x\": 168,\n        \"y\": 42,\n        \"wires\": [\n            [\n                \"ea274d77.124c4\",\n                \"4e9ae5da.b9f30c\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"ea274d77.124c4\",\n        \"type\": \"debug\",\n        \"z\": \"8d119294.15509\",\n        \"name\": \"API KEY\",\n        \"active\": false,\n        \"console\": \"false\",\n        \"complete\": \"payload\",\n        \"x\": 501,\n        \"y\": 41,\n        \"wires\": []\n    },\n    {\n        \"id\": \"4e9ae5da.b9f30c\",\n        \"type\": \"cloudant out\",\n        \"z\": \"8d119294.15509\",\n        \"name\": \"Database\",\n        \"cloudant\": \"\",\n        \"database\": \"mockdevice\",\n        \"service\": \"create-api-cloudantNoSQLDB\",\n        \"payonly\": true,\n        \"operation\": \"insert\",\n        \"x\": 498,\n        \"y\": 179,\n        \"wires\": []\n    },\n    {\n        \"id\": \"311d3f91.3102d\",\n        \"type\": \"http in\",\n        \"z\": \"3c36afe7.a6f26\",\n        \"name\": \"\",\n        \"url\": \"/sensor-data\",\n        \"method\": \"get\",\n        \"upload\": false,\n        \"swaggerDoc\": \"\",\n        \"x\": 137,\n        \"y\": 47,\n        \"wires\": [\n            [\n                \"9441d811.4544b8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"f8b877a6.01fde8\",\n        \"type\": \"http response\",\n        \"z\": \"3c36afe7.a6f26\",\n        \"name\": \"\",\n        \"statusCode\": \"200\",\n        \"headers\": {},\n        \"x\": 568,\n        \"y\": 46,\n        \"wires\": []\n    },\n    {\n        \"id\": \"9441d811.4544b8\",\n        \"type\": \"cloudant in\",\n        \"z\": \"3c36afe7.a6f26\",\n        \"name\": \"\",\n        \"cloudant\": \"\",\n        \"database\": \"mockdevice\",\n        \"service\": \"create-api-cloudantNoSQLDB\",\n        \"search\": \"_all_\",\n        \"design\": \"\",\n        \"index\": \"\",\n        \"x\": 339,\n        \"y\": 48,\n        \"wires\": [\n            [\n                \"f8b877a6.01fde8\"\n            ]\n        ]\n    }\n]\n","outputs":1,"noerr":0,"x":310,"y":860,"wires":[["1d15a873.9ca118"]]},{"id":"84df8872.75fcd8","type":"http in","z":"7f48f61c.c58808","name":"web","url":"https://api.eu-gb.apiconnect.appdomain.cloud/krilli0507gmailcom-dev/sb/aashay","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1120,"wires":[["b3795543.e05278"]]},{"id":"b3795543.e05278","type":"debug","z":"7f48f61c.c58808","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":300,"y":1120,"wires":[]},{"id":"4f901547.a9588c","type":"debug","z":"7f48f61c.c58808","name":"","active":true,"console":"false","complete":"false","x":370,"y":1020,"wires":[]},{"id":"8e778f5e.557b2","type":"inject","z":"7f48f61c.c58808","name":"temp json","topic":"","payload":"{\"sensor_id\":1234,\"temperature\":13}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":60,"y":1000,"wires":[["4c86e5ee.844f7c"]]},{"id":"4c86e5ee.844f7c","type":"function","z":"7f48f61c.c58808","name":"","func":"\nreturn {payload:msg.payload.temperature};","outputs":1,"noerr":0,"x":210,"y":1000,"wires":[["4f901547.a9588c"]]},{"id":"a4d8aaea.473d98","type":"inject","z":"7f48f61c.c58808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["d544061b.c0fef8","7f54cabd.585124"]]},{"id":"fc8eea65.436508","type":"inject","z":"7f48f61c.c58808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":220,"wires":[["8a0a6efb.e6e1e","78498c7c.0cd6f4"]]},{"id":"12927481.042b5b","type":"inject","z":"7f48f61c.c58808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":400,"wires":[["85677cf2.72c5f","772824f2.a87e5c"]]},{"id":"7de05bb9.44bce4","type":"inject","z":"7f48f61c.c58808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":60,"y":620,"wires":[["2317a1fe.b4864e"]]},{"id":"8f317343.ddbf","type":"debug","z":"7f48f61c.c58808","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":700,"wires":[]},{"id":"d7309b86.3d74b8","type":"inject","z":"5ca7570.9a083a8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":140,"wires":[["4cf977dd.ba1b88"]]}]